Django==1.9.11
django-admin-tools==0.8.0
django-el-pagination==3.0.1
django-excel==0.0.6
django-mathfilters==0.4.0
gunicorn==19.6.0
psycopg2==2.6.2
pyexcel==0.4.2
pyexcel-io==0.3.0
pyexcel-text==0.2.5
pyexcel-webio==0.0.10
pyexcel-xlsxw==0.3.0
requests==2.13.0
tabulate==0.7.7
texttable==0.8.7
XlsxWriter==0.9.3
