// /* ===== FONT-FACE ==========================================================================================*/

// // LATO

// // @font-face {
// // 	font-family: 'Lato';
// // 	font-style: normal;
// // 	font-weight: 100;
// // 	src: local('Lato Hairline'), local('Lato-Hairline'), url(../assets/fonts/lato-hairline.woff2) format('woff2');
// // 	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// // }

// @font-face { font-family: 'Lato'; src: url('../assets/fonts/Lato-Hairline/Lato-Hairline.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Lato-Hairline/Lato-Hairline.woff') format('woff'), url('../assets/fonts/Lato-Hairline/Lato-Hairline.ttf') format('truetype'), url('../assets/fonts/Lato-Hairline/Lato-Hairline.svg#Lato-Hairline') format('svg'); font-weight: 100; font-style: normal; }

// // @font-face {
// // 	font-family: 'Lato';
// // 	font-style: normal;
// // 	font-weight: 300;
// // 	src: local('Lato Light'), local('Lato-Light'), url(../assets/fonts/lato-light.woff2) format('woff2');
// // 	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// // }

// @font-face { font-family: 'Lato'; src: url('../assets/fonts/Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Lato-Light/Lato-Light.woff') format('woff'), url('../assets/fonts/Lato-Light/Lato-Light.ttf') format('truetype'), url('../assets/fonts/Lato-Light/Lato-Light.svg#Lato-Light') format('svg'); font-weight: 300; font-style: normal; }

// // @font-face {
// // 	font-family: 'Lato';
// // 	font-style: normal;
// // 	font-weight: 400;
// // 	src: local('Lato Regular'), local('Lato-Regular'), url(../assets/fonts/lato-regular.woff2) format('woff2');
// // 	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// // }

// @font-face { font-family: 'Lato'; src: url('../assets/fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('../assets/fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('../assets/fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg'); font-weight: 400; font-style: normal; }

// // @font-face {
// // 	font-family: 'Lato';
// // 	font-style: normal;
// // 	font-weight: 700;
// // 	src: local('Lato Bold'), local('Lato-Bold'), url(../assets/fonts/lato-bold.woff2) format('woff2');
// // 	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// // }

// @font-face { font-family: 'Lato'; src: url('../assets/fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('../assets/fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'), url('../assets/fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg'); font-weight: 400; font-style: normal; }

// // @font-face {
// // 	font-family: 'Lato';
// // 	font-style: normal;
// // 	font-weight: 900;
// // 	src: local('Lato Black'), local('Lato-Black'), url(lato-black.woff2) format('woff2');
// // 	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// // }

// @font-face { font-family: 'Lato'; src: url('../assets/fonts/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Lato-Black/Lato-Black.woff') format('woff'), url('../assets/fonts/Lato-Black/Lato-Black.ttf') format('truetype'), url('../assets/fonts/Lato-Black/Lato-Black.svg#Lato-Black') format('svg'); font-weight: 900; font-style: normal; }

// // MERRIWEATHER

// // @font-face {
// // 	font-family: 'Merriweather';
// // 	font-style: italic;
// // 	font-weight: 400;
// // 	src: local('Merriweather Italic'), local('Merriweather-Italic'), url(../assets/fonts/merriweather-italic.woff2) format('woff2');
// // 	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// // }

// @font-face { font-family: 'Merriweather'; src: url('../assets/fonts/Merriweather-Italic/Merriweather-Italic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Merriweather-Italic/Merriweather-Italic.woff') format('woff'), url('../assets/fonts/Merriweather-Italic/Merriweather-Italic.ttf') format('truetype'), url('../assets/fonts/Merriweather-Italic/Merriweather-Italic.svg#Merriweather-Italic') format('svg'); font-weight: 400; font-style: italic; }


/* ===== FONT STYLES ==========================================================================================*/

body
	font-family $textFont
	font-weight 400

#extranet
	legend
		font-weight 700
	.random-password
		font-weight 300

.input
	input
		font-family $textFont
		font-weight 300

#home
	.carousel-cell
		div
			font-family $merriweatherFont
	.services
		p
			font-family $textFont
			font-weight 300
		h3
			font-weight 400
	.quote
		p
			font-family $merriweatherFont
			font-weight 300
	.utils
		.utils-title
			font-weight 400

#bussines-units
	.unit
		.quote
			font-family $merriweatherFont