/* Triangles */
triangle(type = '', color = '', top = '', right = '', bottom = '', left = '')
	border-bottom bottom solid transparent
	border-left left solid transparent
	border-right right solid transparent
	border-top top solid transparent
	content ""
	display inline-block
	if type == 'top'
		border-top-color color
	if type == 'right'
		border-right-color color
	if type == 'bottom'
		border-bottom-color color
	if type == 'left'
		border-left-color color

.h-list
	li
		display inline-block

.maxwidth
	max-width 1280px
	margin 0 auto

#top
	margin-top -70px
	overflow hidden
	position absolute
	right 0
	width 50px
	z-index 999
	a
		background-color $baseColor
		border-radius 3px 0 0 3px
		box-shadow -2px 2px 5px rgba(0,0,0,.5)
		color $midGrey
		display block
		padding .5em
		position absolute
		right -60px
		top 0
		transition .3s ease-out
		width 50px
		i
			margin 8px 0
		&:hover
			color white
	&.top-show
		a
			right -10px
		

.input
	position relative
	input
		border 1px solid $midGrey
		border-radius 4px
		display block
		font-size .9em
		outline 0
		padding 5px 10px 8px 35px
		transition 0.2s ease-out
		width 100%
		&.focused
			padding 5px 10px 8px 10px
	.icon, .eye
		color $midGrey
		display block
		font-size 15px
		opacity 1
		position absolute
		top 8px
	.eye
		color $darkGreyGreen
		right 10px
		&.selected
			color $midGrey
	.icon
		left 10px

.submit
	background white
	border none
	border-radius 3px
	color $baseColor
	cursor pointer
	display block
	font-size 1.3em
	transition 0.2s ease-out
	&:hover
		background $accentColor
		color white
		outline 0

.path
	margin 1em auto
	overflow hidden
	padding 0 1.5em
	.path-container
		border-bottom 1px solid $midGrey
		overflow hidden
		padding .3em .5em
		&:nth-child(2)
			border-bottom none
		.route
			display inline-block
			float left
			a
				color $darkGreyGreen
				transition 0.3s ease-out
				&:hover
					border-bottom 1px dashed $accentColor
					color $accentColor
			.chevron
				margin 0 .5em
			.current
				color $baseColor
				font-weight bold
				text-transform uppercase
		.hi
			text-align right
			.customer-name
				color $baseColor
				font-weight bold
				text-transform uppercase


.export-data
		font-size .9em
		padding 1em
		text-align right
		button
			background-color $midGrey
			border none
			border-radius 3px
			margin-left .5em
			padding 0
			&:hover
				background-color $accentColor
			a
				color $darkGreyGreen
				display block
				padding .3em .5em
				&:hover
					color white


.data-table
	animation float 5s infinite
	background white
	border-collapse collapse
	border-radius 3px
	border-spacing 0
	box-shadow 0 5px 10px rgba(0, 0, 0, 0.1)
	font-size .9em
	padding 5px
	width 100%
	td
		background #FFFFFF
		border-right 1px solid #C1C3D1
		// padding 7px 12px
		padding 7px 5px
		text-align left
		text-shadow -1px -1px 1px rgba(0, 0, 0, 0.1)
		vertical-align middle
		&:last-child
			border-right 0px
		&.right
			text-align right
		&.center
			text-align center
	th
		background #1b1e24
		border-bottom 4px solid #9ea7af
		border-right 1px solid #343a45
		color #D5DDE5
		// padding 15px
		padding 15px 5px
		text-align center
		text-shadow 0 1px 1px rgba(0, 0, 0, 0.1)
		vertical-align middle
		&:first-child
			border-top-left-radius 3px
		&:last-child
			border-right none
			border-top-right-radius 3px
	tr
		border-bottom 1px solid #C1C3D1
		border-top 1px solid #C1C3D1
		color #666B85
		font-size .9em
		text-shadow 0 1px 1px rgba(256, 256, 256, 0.1)
		&:hover td
			background #4E5066
			border-bottom 1px solid #22262e
			border-top 1px solid #22262e
			color #FFFFFF
		&:first-child
			border-top none
		&:last-child
			border-bottom none
			td
				border-bottom none
				&:first-child
					border-bottom-left-radius 3px
				&:last-child
					border-bottom-right-radius 3px
		&:nth-child(odd)
			td
				background #EBEBEB
			&:hover
				td
					background #4E5066

/////////////////////////////// Fix for download button in html5 player

video::-webkit-media-controls
	overflow hidden !important

video::-webkit-media-controls-enclosure 
	width calc(100% + 32px)
	margin-left auto

video::-webkit-media-controls-fullscreen-button
	display: none !important


/////////////////////////////// scroll down fadein

.come-in
	transform translateY(100px)
	animation come-in 0.8s ease forwards

.come-in:nth-child(odd)
	animation-duration 0.6s /* So they look staggered */

.already-visible
	transform translateY(0)
	animation none

.module
	opacity 0

@keyframes come-in {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

/////////////////////////////// weather tabs

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}


/////////////////////////////// Lightbox Prev-Next-Close Btn

.jslghtbx-next,
.jslghtbx-prev
	border-top 40px solid transparent !important
	border-bottom 40px solid transparent !important
.jslghtbx-next
	border-left 20px solid #FFF !important
.jslghtbx-prev
	border-right 20px solid #FFF !important
.jslghtbx-close
	font-size 1.5em !important