/* ==== COLORS ====================== */

/* Colores */
$baseColor = #018d34
$lightBaseColor = #00A85A
$accentOrange = #c26601
$accentBlue = #065a7a
$darkGreyGreen = #3c433e
$darkGreyBlue = #2b3438
$lightGrey = #fafafa
$midGrey = #ccc

$accentColor = $accentBlue

/* Fuentes */
$latoFont = 'Lato', sans-serif
$merriweatherFont = 'Merriweather', serif;

$textFont = $latoFont
$logoFont = 'Times New Roman', serif

// Tamaño base del texto en px.
$fontSize = 16