/* Libs */
@import 'lib/normalize'

/* Styles */
@import 'variables'
@import 'fonts'

//Iinit styles

body, html
	margin 0
	padding 0

body
	min-width 320px

html
	box-sizing border-box
	color $darkGreyGreen
	font-family $textFont
	font-size unit($fontSize, 'px')
	text-rendering optimizeLegibility

*
:before
:after
	// box-sizing se define en el html, y se hereda en el resto de elementos.
	// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
	box-sizing inherit

a
	text-decoration none

h1, h2, h3, h4, h5, h6
	margin 0

p
	margin 0

ul
	margin 0
	padding 0
	li
		list-style none

fieldset
	border none



// DAHSBOARD ##################################################################

// #container
// 	#grp-header
// 		#grp-navigation
// 			background-color white !important
// 			background-image none !important
// 			#grp-admin-title
// 				background white url('../img/logo_bh_mini_color.png') no-repeat left center !important
// 				color $darkGreyGreen !important
// 				font-size 2.2em !important
// 				padding .7em 0 .7em 2em !important
// 				text-transform lowercase !important
// 			#grp-user-tools
// 				border-left 1px solid $midGrey !important
// 				margin 0 !important
// 				& > li
// 					border-left 1px solid #EEE !important
// 					border-right 1px solid $midGrey !important
// 					a
// 						color $accentColor !important
// 						padding 1.6em 10px !important
// 						text-transform uppercase !important
// 						transition .3s ease-out
// 						&:hover
// 							color $baseColor !important
// 					.grp-user-options
// 						background white !important
// 						border-top 1px solid $midGrey !important
// 						margin-left -2px
// 						transition all .3s ease-out
// 						li
// 							border-left 1px solid $midGrey !important
// 							border-right 1px solid $midGrey !important
// 							border-bottom 1px solid $midGrey !important
// 							border-top 0 !important
// 							&:last-child
// 								border-radius 0 0 3px 3px !important
// 							&:hover
// 								background-color $baseColor !important
// 								a
// 									color white !important
// 		#grp-context-navigation
// 			background $baseColor !important
// 			li
// 				color white !important
// 				font-size 1.1em
// 				padding .3em 0
// 				text-shadow 1px 1px 2px rgba(0,0,0,.5) !important
// 				text-transform uppercase !important
// 	#grp-content
// 		top 100px !important
// 		.grp-module
// 			margin-bottom 1.5em !important
// 			.grp-row
// 				a
// 					color $accentColor !important
// 			.module_title
// 				text-transform uppercase !important
// 			&.link-list
// 				.module_title
// 					background-image linear-gradient(#00A85A,#018d34);
// 					background-color white !important
// 					border 1px solid $baseColor !important
// 					color white !important
// 					text-shadow none