/*#### BASE ################################################################*/

header
	overflow hidden
	padding 1em 0
	& > div
		overflow hidden
	.logo
		padding 0 1em
		img, h1
			display inline-block
			position relative
			vertical-align middle
		h1
			color #333
			font-size 2.3em
			line-height 1em
			margin-left .5em
			text-shadow 2px 2px 0px #ddd
		img
			width 55px
		span
			display block
	nav
		padding-right 1em
		ul
			padding .8em 0
			//text-align center
			text-align right
			li
				margin 0 1%
				text-align center
				&:last-child
					margin-right 0
				&:hover
					a:not(.login-btn)
						color $lightGrey
						background-color $baseColor
						i
							bottom -10px !important
							opacity 1 !important
					a.login-btn
						background-color $accentColor
				a
					color $darkGreyGreen
					border-radius 4px
					display block
					font-size 1.1em
					padding .5em .7em
					position relative
					transition 0.3s ease-out
					&:not(.login-btn):not(.extranet-btn)
						i
							bottom 0px
							color $baseColor
							left 0
							opacity 0
							position absolute
							right 0
							transition 0.3s ease-out
					&.login-btn, &.extranet-btn
						background-color $baseColor
						color $lightGrey
						i
							margin-right .3em
						&.active
							background-color $accentColor
					&.logout
						i
							margin 0

footer
	border-top 10px solid $accentColor
	& > div
		overflow hidden
		padding 2.5em 2.5em 1em 2.5em
		.logo
			img, .name
				display inline-block
				vertical-align middle
			.name
				font-size 1.5em
				margin-left .5em
			img
				width 40px
		.contact
			i
				margin-right .5em
			p
				margin-bottom .8em
				a
					color $baseColor
					&:hover
						border-bottom 1px dotted $baseColor
		nav
			text-align right
			li
				a
					color $darkGreyGreen
					padding 1em
					&:hover
						color $baseColor
	.foot
		background-color $baseColor
		border-top 1px solid $midGrey
		color $lightGrey
		font-size .8em
		padding 1em 2.5em
		text-align right
		p
			margin-right 1em
			span
				font-weight bold
	.tax
		border-right 1px solid $midGrey
		margin-right .4em !important
	.cv, .tax
		margin-top 1.8em
		max-height 230px
		min-height 60px
		position relative
		div
			background-color $midGrey
			border-radius 3px
			bottom 0
			font-size 1.1em
			// margin-top .8em
			overflow hidden
			position absolute
			right .8em
			text-align right
			top 0
			&:hover
				i
					color $baseColor
			i
				color $accentColor
				font-size 2em
				left 10%
				position absolute
				transition 0.5s ease-out
				top 22%
			span
				display inline-block
				height 200%
				margin-left 35%
				text-align left
				transition 0.3s ease-out
				width 65%
				a
					display block
					color $darkGreyGreen
					height 50%
					padding .5em
					transition 0.5s ease-out
					&.send-cv
						opacity 0
		&:not(.tax)
			span
				&:hover
					transform translateY(-50%)
					.send-cv
						opacity 1
					.work
						opacity 0

.customer
	display none
	padding 0 4em 1em 4em
	.login-extranet
		border-top 1px solid $baseColor
		float right
		padding .7em 2em .7em 1em
		position relative
		transition 0.2s ease-out
		width 470px
		& > i
			color $baseColor
			font-size 1.5em
			position absolute
			right 8px
			top -24px
		fieldset
			padding 0
		.input
			display inline-block
			margin-right .8em
			width 190px
		.submit
			position absolute
			right 10px
			top 14px


/*#### HOME ################################################################*/

#home
	.business-units
		// height 480px
		overflow hidden
		position relative
		.carousel
			.carousel-cell
				clear both
				margin-right 20px
				overflow hidden
				width 100%
				div
					background-color rgba(0,0,0,.4)
					padding 1.2em 1.5em 0 1.5em
					margin-top 1em
					position absolute
					top 0
					width 100%
					p
						color white
						font-size 1.6em
						line-height 1.5em
						opacity 0
						text-shadow 2px 2px 1px $darkGreyGreen
						transition .4s ease-out
						transform translateY(10px)
				img
					display block
					width 100%
				&.move-in
						p
							opacity 1
							transform translateY(-10px)
		.units
			border-bottom 1px solid $midGrey
			//fix 3px top border
			bottom -3px
			height 3em
			position absolute
			width 100%
			z-index 1
			li
				height 3em
				text-align center
				vertical-align bottom
				width 20%
				a
					background-color white
					border-bottom 1px solid $midGrey
					color $darkGreyGreen
					display block
					height 2.5em
					line-height 2.5em
					margin-top .5em
					transition .5s ease-out
					vertical-align bottom
					&:hover
						background-color $midGrey
					&.current
						background-color $baseColor
						border-top 1px solid $midGrey
						color white
						height 3em
						line-height 3em
						margin-top 0

	.services
		background-color $lightGrey
		border-bottom 1px solid $midGrey
		border-top 1px solid $midGrey
		margin 0 auto
		overflow auto
		padding 3.5em 2.5em
		article
			border-radius 5px
			padding 1em
			text-align center
			a
				color $baseColor
				font-size 2em
				transition .3s ease-out
				&:hover
					color $accentColor
					i
						transform rotate(180deg)
				i
					transition .4s ease-out
			h3
				margin .8em 0 .2em 0
				font-size 1.5em
			img
				border-radius 3px
			p
				margin-bottom 1.2em
				padding .2em 0

	.quote
		border-bottom 1px solid $midGrey
		font-size 1.7em
		line-height 1.7em
		padding 2.5em 0 2em 0
		text-align center
		span
			color $baseColor

	.utils
		background url('../img/silos.jpg') no-repeat
		background-attachment fixed
		background-size cover
		overflow hidden
		padding 3em 2.5em
		.container
			background-color white
			border-radius 3px 3px 0 0
		.data
			display block
			font-size .8em
			padding 1.2em .8em 0 .8em
			text-align right
			span
				border-bottom 1px dotted $baseColor
				color $baseColor
		.utils-title
			background-color rgba(255,255,255,.6)
			border-radius 3px 3px 0 0
			margin-bottom .5em
			padding-bottom .3em
			position relative
			text-align center
			.title
				font-size 1.5em
				padding 0 .7em
				vertical-align middle
				span
					display inline-block
					position relative
					vertical-align middle
					&:nth-child(1)
						line-height .8em
					i
						font-size .8em
						margin-right .5em
		.utils-subtitle
			margin-bottom .5em
		.rain-weather
			.utils-title
				background-color rgba(255,255,255,.3)
				padding-bottom 0
				li
					display inline-block
					width 50%
					a
						color #dedede
						display block
						padding-bottom .35em
						transition 0.3s ease-out
						h3
							font-weight 400
						&:not(.active):hover
							color #bbb
						&.active
							background-color rgba(255,255,255,.3)
							color $darkGreyGreen
					&:nth-child(1)
						border-radius 3px 0 0 0
					&:nth-child(2)
						border-radius 0 3px 0 0
			.rain
				.historic-rain
					background-color $midGrey
					padding .7em 0 1em 0
					text-align center
					a
						border-bottom 1px dotted transparent
						color $baseColor
						padding .3em .5em
						i
							color $baseColor
							margin-right .3em
							transition 0.3s ease-out
						&:hover
							border-bottom 1px dotted $midGrey
							i
								transform rotate(-360deg)
			.weather
				display none
				.tab
					background-color #1b1e24
					border-bottom 4px solid #9ea7af
					border-radius 3px 3px 0 0
					text-align center
					li
						width 33.33%
						&:first-child
							a
								border-top-left-radius 3px
						&:last-child
							a
								border-top-right-radius 3px
						&:not(:last-child)
							border-right 1px solid #343a45
						a
							color #d5dde5
							display block
							font-size .8em
							font-weight bold
							padding 15px 0
							text-align center
							text-decoration none
							transition 0.3s
							&:hover, &:focus, &.active
								background-color #4E5066
				.tabcontent
					animation fadeEffect 1s
					display none
					&#arrecifes
						display block
		form
			margin-top .2em
			text-align center
			fieldset
				margin-top .7em
				legend
					display inline-block
				.input
					display inline-block
					font-size .9em
					width 180px
				button
					background-color transparent
					border none
					color $baseColor
					cursor pointer
					display inline-block
					font-size 1.1em
		.data-table
			&.currency-error, &.board-error, &.rain-error
				display none
				td
					color $midGrey
					font-size 1.5em
					padding 1em 0
					text-align center
			&.board-error
				td
					padding 4em 0


/*#### HISTORIC RAIN ################################################################*/

#historic-rain
	background url('../img/units/back.jpg') no-repeat top center
	padding 1.7em 2em 0 2em
	// h2
	// 	margin-top 1.7em
	table
		margin 2em 0 4em 0
		.total, .avg
			font-weight bold

/*#### COMPANY ################################################################*/

#company
	background url('../img/units/back.jpg') no-repeat top center
	overflow hidden
	position relative
	.featured
		padding 0 2em
		font-size 1.1em
		h2
			text-shadow 1px 1px 2px $midGrey
			text-align center
			font-size 1.6em
			margin 2em 0 .8em 0
		ul
			li
				font-weight 300
				line-height 1.4em
				margin-bottom .8em
				padding-left: 1.3em;
				&:before
					color $baseColor
					content "\f14a" /* FontAwesome Unicode */
					font-family FontAwesome
					font-size .9em
					display inline-block
					margin-left -1.3em /* same as padding-left set on li */
					width 1.3em /* same as padding-left set on li */
	.gallery
		margin 2em auto
		text-align center
		ul
			column-count 4
			column-gap 0
			margin 0 auto
			max-width 1240px
		li
			overflow hidden
			position relative
			figure
				// left 100%
				margin 0
				// margin-left -200%
				position relative
				a
					display block
					img
						// max-width 310px
						// width 296px
						text-align center
						//Fix blink behavior on hover
						transform translateZ(0)
						transform translate3d(0,0,0)
						transition all .2s ease-in-out
						//Fix img inline
						vertical-align middle
					&:after
						background #FFF
						bottom 0
						content ''
						left 0
						margin .3em
						opacity 0
						position absolute
						right 0
						top 0
						transition all .3s ease-in-out
						z-index 1
			&:hover
				a:after
					opacity .7
	.imgs
		text-align center
		img
			border-radius 3px
			margin 1.5em .5em 0 .5em
	.history
		padding 2em
		h2
			text-shadow 1px 1px 2px $midGrey
			font-size 1.7em
			text-align center
			margin .5em 0 .8em 0
		p
			font-weight 300
			line-height 1.3em
			margin-bottom .8em
	.video-company
		margin-top 3em
		text-align center
		p
			padding 0 2em
			color $baseColor
			font-size 1.2em
			text-align left
			margin-bottom 2em
		div
			border-top 1px solid $midGrey
			background-color $lightGrey
			padding 3em 0
			video
				background-color white
	
	.second-col
		padding-right 2em
	.infography
		//border-left 1px solid $midGrey
		background-color #efefef
		border-radius 3px
		font-size .8em
		line-height 1.6em
		margin-top 3.5em
		overflow hidden
		padding 3em 0
		position relative
		.row
			overflow hidden
			.first-col, .second-col
				position relative
			.first-col:not(.empty), .second-col:not(.empty)
				padding 2em
				span
					background-color white
					border-radius 3px
					display block
					border 1px solid $midGrey
					padding 1em
					transition 0.3s ease-out
					&:hover
						border 1px solid $accentColor
						& + i
							color $accentColor
					& + i
						background-color #efefef
						color $baseColor
						font-size 1.8em
						padding .2em 0
						position absolute
						transition 0.3s ease-out
			.first-col:not(.empty)
				border-right 2px solid $baseColor
				margin-left 2px
				i
					right -11px
					bottom 5px
			.second-col:not(.empty)
				border-left 2px solid $baseColor
				i
					left -11px
					bottom 5px
			.empty
				height 100%



/*#### CONTACT / INFORMACION IMPOSITIVA / CV ###########################################*/

#contact .offices, 
#contact .data-contact, 
#contact .areas, 
#contact .maps,
#taxes .data-contact,
#taxes .tax-data,
#cv,
#cv .data-contact
	font-weight 300
	padding 0 2em

#contact .data-contact,
#taxes .data-contact,
#cv .data-contact
	font-size 1.2em
	// margin 2em 0 0 0
	padding 2em 2em 0 2em
	vertical-align middle
	a
		color $baseColor
		border 1px solid white
		border-radius 3px
		font-weight 400
		margin-left .5em
		padding .2em .3em
		&:hover
			border 1px solid $baseColor
	i.fa-ellipsis-v
		color $baseColor
		font-size 1.4em
		margin-right .3em
		vertical-align middle

#contact .offices, 
#contact .areas,
#taxes .tax-data,
#cv
	h2
		margin 1em 0 1.5em 0
		text-align center

#cv
	background url('../img/units/back.jpg') no-repeat top center
	font-weight 400
	padding 3em 5em
	p
		line-height 1.3em
		margin 1em .5em
		span
			&:not(.bh)
				font-weight bold
			&.bh
				color $baseColor
		&.data-contact
			text-align center
	.img
		text-align center
		img
			border-radius 3px
			max-width 500px

#taxes
	background url('../img/units/back.jpg') no-repeat top center
	h2
		margin 2em 0 1.5em 0 !important
	h3
		margin-bottom 1em
	h4
		font-size 1.2em
		margin-bottom .8em
	h5
		font-size 1em
		margin 1.2em 0 .6em 0
	.address
		span
			font-weight bold
	.block
		border-bottom 1px dotted $midGrey
		margin-bottom 1em
		padding-bottom 1em
	.col-2
		padding-top 3em
		a
			display block
			text-align center
	.company-name
		color $baseColor
	.cuit, .data-gral
		margin .3em 0
		span
			font-weight bold
	.cuit
		color $baseColor
		font-weight bold
		span
			color $darkGreyGreen
	.data-description
		margin 1em 0 2.5em 0
	.data-download
		background-color $lightGrey
		border 1px solid $midGrey
		border-radius 5px
		margin 2em 0
		padding 2em
		h4, h5
			color $accentColor
		ul
			padding-left .5em
			li
				margin .5em 0
				a
					color $darkGreyGreen
					font-weight 400
					vertical-align middle
					img
						margin-right .5em
						width 18px
						vertical-align middle
		// .col-1, .col-2
		// 	position relative
		// .col-2
		// 	.row
		// 		overflow hidden
		// 		width 100%
		// 		.empty
		// 			height 100%
		// 		&:nth-child(1)
		// 			text-align right
		// 		&:nth-child(2)
		// 			text-align right
	.data-fiscal
		color $accentColor
	.data-gral.rfog
		color $baseColor
	.data-public
		padding-left .7em
		li
			margin .5em 0
			i
				color $accentColor
				margin-right .3em

#contact
	background url('../img/units/back.jpg') no-repeat top center
	.offices
		margin 1em 0 2.5em 0
		overflow hidden
		div
			img
				border-radius 3px
				width 100%
			h3
				color $baseColor
				padding .5em
			p
				line-height 1.5em
				padding 0 .5em
	.areas
		margin 2.5em 0
		overflow hidden
		.column
			.unit
				h3
					color $baseColor
					margin 1.5em 0 .5em 0
					text-transform uppercase
					& + h4
						margin-top 0
				h4
					color $accentColor
					margin 1.5em 0 .8em 0
					& + h5
						margin-top 1em
				h5
					padding-left .5em
					margin 1.5em 0 .5em 0
					text-transform uppercase
					i
						color $accentOrange
						font-size 1.3em
						padding-right .3em
				div
					margin-top .5em
					p:nth-child(1)
						font-weight 400
					p:nth-child(2)
						margin 0 0 .5em .5em
					a
						color $baseColor
						&:hover
							border-bottom 1px dotted $baseColor
			& .unit:first-child
					h3
						margin-top 0
	.maps
		overflow hidden
		#basMap
			border-radius 0 3px 3px 0
		#chacoMap
			border-radius 3px 0 0 3px


/*#### BUSINESS UNITS ###########################################################*/

#bussines-units
	background url('../img/units/back.jpg') no-repeat top center
	padding 3em 0
	text-align center
	.units-description
		color $accentColor
		font-size 1.4em
		font-weight 700
		line-height 1.5em
		margin 1em 0
		padding 0 1.5em
		text-align left
	.unit
		margin-top 8em
		.main
			// max-height 520px
			height 520px
			overflow hidden
			position relative
			.content
				overflow hidden
			&::after
				content ""
				opacity .9
				top 0
				left 0
				bottom 0
				right 0
				position absolute
				z-index -1
		.line
			border-top 1px dashed white
			height 1px
			width 500px
		.line-v
			border-left 1px dashed white
			margin 0 auto
			width 1px
		.quote
			font-size 1.3em
			line-height 1.7em
			margin-bottom 2em
		.separator
			height 2px
			background-color $baseColor
			display block
			margin .8em auto 2em auto
		.unit-title
			font-size 2.7em
	.acopio
		.separator
			width 3em
		.main
			&::after
				background url('../img/units/unit_acopio.jpg') no-repeat fixed top right
			.map-container
				padding 1em 0 0 1em
				position relative
				text-align left
				.map
					width 60%
					z-index 1
				.marker, .line
					position absolute
					z-index 2
				.gp
					left 34%
					top 15%
				.ar
					left 36%
					top 35%
				.gp-line
					left 39%
					top 17%
				.ar-line
					left 41%
					top 37%
			.location
				overflow hidden
				position relative
				.plant
					position relative
					text-align left
					width 320px
					z-index 3
					.detail
						background-color $midGrey
						border 6px solid white
						border-radius 3px
						padding 10px
						img
							border-radius 3px
							display inline-block
							width 45%
						div
							display inline-block
							font-size .85em
							margin-left .5em
							vertical-align top
							h3
								color $accentColor
								margin-bottom .5em
							p
								margin .4em 0
								a
									border-bottom 1px dashed $baseColor
									color $baseColor
								i
									margin-right .3em
					.line-v
						height 15px
				.ar
					margin 5% auto auto 15%
					.detail:nth-child(2)
						margin-top 15px
				.gp
					margin 10% auto auto 0
		.related
			margin-top 4em
			padding 0 10%
			article
				img
					border-radius 50%
					width 35%
				div
					font-size 1.1em
					line-height 1.5em
					padding 1.5em 2.5em 0 2.5em
	.commer
		.separator
			width 12em
		.main
			&::after
				background url('../img/units/unit_commer.jpg') no-repeat fixed center left
			.content
				position relative
				top 50%
				transform translateY(-50%)
				& > div
					overflow hidden
			.box
				background-color white
				border 1px dashed $midGrey
				box-shadow 0 0 0 6px white
				color $accentColor
				display inline-block
				float none
				font-size 1.2em
				height 6em
				margin 1.2em 2em
				padding .7em
				text-align left
				vertical-align top
				width 13em
	.agro
		.separator
			width 8em
	.breeding
		.separator
			width 6em
	.export
		.separator
			width 9em


/*#### LOGIN & CHANGE PASSWORD ###########################################################*/

#login, #change-password
	.state
		margin 2em 0
		padding 0 2em
		text-align center
		p
			font-size 2em
		
		.account-confirmed
			color $baseColor
			font-size 2.2em
			margin-bottom .5em
		.legend
			span
			display block
			line-height 1.5em
			font-size 1.1em
			margin-top 2em
			a
				border 1px solid transparent
				border-radius 3px
				color $baseColor
				padding .1em .3em
				&:hover
					border 1px solid $baseColor
	.login-extranet, .input, .submit
		margin 0 auto
	.login-extranet
		background-color $midGrey
		border-radius 3px
		margin-bottom 3em
		max-width 500px
		padding 1em 0
		text-align center
		.input
			margin-top .8em
			width 300px
		.submit
			font-size 1.2em
			margin-top 1em
			padding .3em 1em
			i
				font-size 1.2em
				margin-left .3em


/*#### EXTRANET ################################################################*/

#extranet
	padding 2em 1.5em 8em 1.5em
	.notification
		position relative
		&:not(:nth-child(1))
			margin-top 2em
		.notification-content
			padding-top .8em
			&:after
				content "\f05a"
				font-family FontAwesome
				font-style normal
				font-weight normal
				text-decoration inherit
				position absolute
				font-size 1.5em
				color $midGrey
				opacity .5
				top 50%
				z-index 1
			.title, .text
				padding-left 2em
			.title
				font-weight bold
				margin-bottom .5em
				text-transform uppercase
		.date
			color $baseColor
			font-weight bold
	.viewed
		margin-top 2em
		text-align center
		a
			// background-color $baseColor
			border 1px solid $baseColor
			border-radius 3px
			// color white
			color $darkGreyGreen
			padding .3em .5em
			&:hover
				background-color $baseColor
				color white
	.random-password
		background-color rgba(100,100,100,.1)
		border-radius 3px
		margin 0 3em 4em 3em
		padding 1em
		position relative
		& > a
			color $accentColor
			font-size 1.5em
			position absolute
			right 10px
			top 5px
		p
			line-height 1.8em
			a
				border 1px solid $baseColor
				// background-color $baseColor
				border-radius 3px
				color $baseColor
				padding 0 .4em .1em .4em
				transition all .3s
				&:hover
					background-color $baseColor
					color white
	.row
		margin-top 2em
	ul
		text-align center
		li
			background-color $baseColor
			border-radius 3px
			height 100px
			text-align center
			transition 0.3s ease-out
			width 180px
			&:hover
				background-color $accentColor
			&:not(:nth-child(1))
				margin-left 2em
			a
				color white
				display block
				height 100%
				padding 10px
				width 100%
				div
					position relative
					top 50%
					transform translateY(-50%)
					span
						// top 50%
						// transform translateY(-25%)
						display block
						&:nth-child(1)
							font-size 1.2em
						&:nth-child(2)
							font-size 2em
							margin-top .2em


/*#### CTA CTE $ / KG ################################################################*/

#ctacte
	padding 0 1.5em
	h3
		font-size 1.5em
		margin 1.2em 0 .5em 0
	table
		border-spacing 1px
		font-size .8em
		margin 0 auto
		margin-bottom 2.5em
		width 100%
		td
			border-bottom 1px solid $midGrey
			height 23px
			padding .2em 0
			&.right
				text-align right
			&.center
				text-align center
			& .hide-btn
				display none
			& .show-analysis i, .hide-analysis i
				color $baseColor
				font-size 1.1em
			& .hide-analysis i
				color $accentColor
		thead
			tr
				background-color $baseColor
			th
				color white
				font-size 1.2em
				padding .4em 0
		tr
			&.analysis
				display none
				&.show
					display table-row
			&.total
				color $accentColor
				td
					border 0
					border-top 1px solid $accentColor
					border-bottom 2px solid $accentColor
					padding 0
					span
						display block
						margin-right 2px
						padding 3px
			&.total, &.initial-balance
				font-weight bold
		& .analysis-detail
			font-size .9em
			margin auto 0 auto auto
			width auto
			td, th
				padding .4em 1em
			th
				background-color $midGrey
				color $accentColor
	.no-data, .no-species
			text-align center
			p
				color $midGrey
				font-size 2em
				margin 0
	.no-data
		padding 15em 0 15em 0
	&.pesos, &.applied
		.pagination
			font-size .9em
			margin 0 0 5em 0
			text-align center
			.wrapper
				border 1px solid $midGrey
				border-radius 3px
				display inline-block
				/* Fix distance between inline-block childrens */
				font-size 0
				.endless_page_current, .endless_page_link, .endless_separator
					border-left 1px solid $midGrey
					color $darkGreyGreen
					display inline-block
					/* Restore font-size before assign 0 value on parent */
					font-size unit($fontSize, 'px')
					padding .5em 0
					width 50px
					&:first-child
						border-left none
				.endless_page_current
					background-color $midGrey
				.endless_page_link:hover
					background-color $accentColor
					color white
				.endless_separator
					background-color $lightGrey
					color $midGrey
	&.kilos, &.sales
		padding-bottom 2em
		.no-species
			padding 2.5em 0 5em 0
		.total-received
			background-color #d5d5d5
			border-radius 3px
			margin-top 1em
			padding .5em 1em
			p
				font-weight bold
				span
					color $baseColor
					margin-left .5em
		.harvest-selector
			text-align center
			padding 2em 0
			form
				background-color #fafafa
				border-bottom 1px solid $midGrey
				border-top 1px solid $midGrey
				border-radius 3px
				display inline-block
				font-size .9em
				overflow hidden
				padding 1em
				h4
					border-bottom 1px solid $midGrey
					color $baseColor
					font-size 1.2em
					margin-bottom .7em
					padding-bottom .18em
					text-align center
				label
					display block
					margin .5em 0
					padding 0 1em
					text-align left
					input
						margin-right 5px
				.harvest-detail
					div
						float left
						&:not(:last-child)
							margin-right 2em
				.submit
					border 1px solid $baseColor
					display inline-block
					font-size 1.1em
					margin 0 auto
					margin-top 1em
					padding .3em
					&:hover
						border 1px solid $accentColor
		.harvest-title
			font-size 1.4em
			margin .8em 0 .5em 0
		tr
			&.field-name, &.sales-type
				background-color #e9e9e9
				font-size 1.2em
				font-weight bold
				td, th
					color $darkGreyGreen
					padding-left .5em
					padding-top .6em
			&.separator
				td
					border 0
					padding-top 1.3em
	&.sales
		table
			margin-bottom 1em


/*#### ERROR PAGE ################################################################*/

#error-page
	padding 3em 5em
	.data
		padding-right 1.5em
		h2
			color $midGrey
			font-size 4em
			margin-bottom .2em
		h3
			font-size 1.5em
			margin-bottom 1em
		h4
			color $midGrey
			font-size 1.6em
			margin-bottom .8em
		p
			line-height 1.2em
			margin .5em 0
			.email
				color $baseColor
				padding-bottom .2em
				&:hover
					border-bottom 1px dashed $baseColor
		.back
			margin-top 3em
			text-align center
			a
				border 1px solid $midGrey
				border-radius 3px
				color $midGrey
				padding .7em
				transition 0.2s ease-out
				vertical-align middle
				i
					font-size 2em
					margin 0 .4em 2px 0
					vertical-align middle
				&:hover
					background-color $baseColor
					border 1px solid $baseColor
					color white
					i
						color white
	.img
		img
			max-width 500px
			width 100%