@media screen and (max-width: 1125px)
	.logo
		width 37% !important
	nav
		font-size .9em
		width 63% !important
		.home-btn
			span
				&.home-text
					display none
				&.home-icon
					display block !important

@media screen and (min-width: 1025px)
	nav.main
		display block !important

@media screen and (max-width: 1024px)
	.logo
		width 88% !important
	nav
		width 12% !important
		&.burger
			display inline-block !important
			li
				i
					font-size 1.5em
		&.main
			display none
			padding 0
			width 100% !important
			li
				display block
				margin 0
				a
					border-bottom 1px dotted $midGrey
					border-radius 0
					i.fa-caret-down
						display none
				&:first-child
					a
						border-top 1px dotted $midGrey
				.home-btn
					span
						&.home-text
							display block
						&.home-icon
							display none !important
				.logout
					i
						margin-right .3em
					.logout-text
						display inline

@media screen and (max-width: 930px)
	#home
		.business-units
			.carousel
				.carousel-cell
					div
						p
							font-size 1.2em

@media screen and (max-width: 800px)
	#home
		.business-units
			font-size .8em

@media screen and (max-width: 720px)
	#home
		.business-units
			.carousel
				.flickity-page-dots
					display block
			.units
				display none
			.unit-names
				display block

@media screen and (max-width: 630px)
	#home
		.business-units
			.carousel
				.carousel-cell
					div
						p
							font-size 1em

@media screen and (max-width: 460px)
	header
		.logo
			h1
				font-size 1.9em !important
			img
				width 45px
	#home
		.business-units
			.carousel
				.flickity-prev-next-button
					display none
					// height 25px
					// width 25px

@media screen and (max-width: 360px)
	header
		.logo, .burger
			width 100% !important
		.burger
			padding 0
			ul
				text-align center
	#home
		.business-units
			.carousel
				.carousel-cell
					div
						p
							font-size .9em