@media screen and (max-width: 1125px)
	header
		.logo
			width 37% !important
		nav
			font-size .9em
			width 63% !important
			.home-btn
				span
					&.home-text
						display none
					&.home-icon
						display block !important
	#home
		.utils
			div > article
				&.pizarras
					stack()
					margin-bottom 2em
					padding 0 !important
				&.currencies, &.rain-weather
					column(1/2, gutter:0)
				&.currencies
					padding-left 0 !important
					.utils-title, .container
						margin-right 0
				&.rain-weather
					.utils-title, .container
						margin-left 0
	footer
		.nav
			nav
				display none
			.cv
				margin 0
				div
					right 0
		.footer-rd-nav
			display block
			nav
				text-align center
				margin-bottom 2.5em
		.logo, .contact, .nav
			column(1/3, gutter:0)
		.contact
			border-left 1px dotted $midGrey
			border-right 1px dotted $midGrey
			text-align center

@media screen and (min-width: 1025px)
	header
		nav.main
			display block !important

@media screen and (max-width: 1024px)
	header
		.logo
			width 88% !important
		nav
			width 12% !important
			&.burger
				display inline-block !important
				li
					i
						font-size 1.5em
			&.main
				display none
				padding 0
				width 100% !important
				li
					display block
					margin 0
					a
						border-bottom 1px dotted $midGrey
						border-radius 0
						i.fa-caret-down
							display none
					&:first-child
						a
							border-top 1px dotted $midGrey
					.home-btn
						span
							&.home-text
								display block
							&.home-icon
								display none !important
					.logout
						i
							margin-right .3em
						.logout-text
							display inline

@media screen and (max-width: 930px)
	#home
		.business-units
			.carousel
				.carousel-cell
					div
						p
							font-size 1.2em

@media screen and (max-width: 930px) and (min-width: 630px)
	#home
		.services
			article
				padding 1em 0
				width 100%
				img, .service-info
					display inline-block
					vertical-align top
				img
					width 40%
				.service-info
					padding-left 1em
					width 60%
					h3, p
						text-align left
					h3
						margin-top 0

@media screen and (max-width: 900px)
	footer
		.nav
			stack()
		.logo, .contact
			column(1/2, gutter:0)
			margin-bottom 1.5em
		.contact
			border-right none
			text-align right

@media screen and (max-width: 800px)
	#home
		.business-units
			font-size .8em
		.quote
			font-size 1.4em

@media screen and (max-width: 720px)
	#home
		.business-units
			.carousel
				.flickity-page-dots
					display block
			.units
				display none
			.unit-names
				display block
		.utils
			div > article
				&.currencies, &.rain-weather
					stack()
					padding 0 !important
					.utils-title, .container
						margin 0 auto
				&.currencies
					margin-bottom 2em

@media screen and (max-width: 630px)
	#home
		.business-units
			.carousel
				.carousel-cell
					div
						p
							font-size 1em
		.quote
			font-size 1.2em
		.services
			article
				margin-top 1.5em
				width 100%
		.misc
			padding 1.7em
			& > div
				stack()
				margin 0 auto
				text-align center
				&:first-child
					margin-bottom 1.3em
			.cponline
				border 0
			.cponline, .tax
				font-size .9em
				margin 0 auto
				min-height 0
				div
					left 0
					margin 0 auto
					position relative
					right 0
	footer
		.maxwidth
			padding 2em 1em 1em 1em;
			.logo, .contact
				stack()
				text-align center
			.contact
				border none
			.nav
				.cv
					div
						right 0
						left 0
						margin 0 auto
		.foot
			p
				margin 0
				padding 0
				text-align center

@media screen and (max-width: 525px)
	footer
		.footer-rd-nav
			nav
				ul
					li
						padding .5em 0
						width 50%

@media screen and (max-width: 460px)
	header
		.logo
			h1
				font-size 1.9em !important
			img
				width 45px
	#home
		.business-units
			.carousel
				.flickity-prev-next-button
					display none
					// height 25px
					// width 25px
		.quote
			font-size 1.1em
		.utils
			font-size .9em
			td
				padding 7px 10px
	footer
		.footer-rd-nav
			nav
				ul
					li
						width 100%
		.foot
			padding 1em 1.5em
			p
				span
					display block

@media screen and (max-width: 380px)
	#home
		.utils
			font-size .8em
			td
				padding 6px 6px

@media screen and (max-width: 360px)
	header
		.logo, .burger
			width 100% !important
		.burger
			padding 0
			ul
				text-align center
	#home
		.business-units
			.carousel
				.carousel-cell
					div
						p
							font-size .9em