{% extends 'base.html' %}
{% load static %}

{% block path %}
<div class="path maxwidth">
	<div class="path-container">
		<div class="route"><a href="/">Home</a> > <span class="current">¡Error 500!</span></div>
		{% if user.is_authenticated %}
			<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block content %}
<section id="error-page" class="maxwidth">
	<div class="data">
		<h2 class="title">Oops!</h2>
		<h3 class="message">Parece que ha ocurrido un problema inesperado.</h3>
		<h4 class="error-code">ERROR 500</h4>
		<p>Te pedimos disculpas por el inconveniente, se ha producido un error y estamos trabajando para solucionarlo lo antes posible.</p>
		<p>Si neceita ayuda inmediata puede comunicarse a la casilla de correo <a href="mailto:buratovich@buratovich.com">buratovich@buratovich.com</a>.</p>
		<div class="back">
			<a href="/"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> VOLVER A <span>BURATOVICH.COM</span></a>
		</div>
	</div>
	<div class="img">
		<img src="{% static "img/404.jpg" %}" alt="">
	</div>
	<div style="clear:both;"></div>
</section>
{% endblock %}