<section>
	<p>La empresa desarrolla su actividad comercial principalmente en las provincias de Buenos Aires y Chaco.</p>
	<p>Los dos puntos principales de la explotacion comercial, agricola y ganadera se da en las provincias de Buenos Aires y Chaco.</p>
	<p>Las oficinas centrales se encuentran ubicadas en la localidad de Arrecifes, Bs. As.; donde contamos con dos plantas de silos para recibir la mercaderia que nos confian nuestros clientes. Una tercera planta de acopio se ubica en la localidad de General Pinedo, en el sudoeste agricola de la provincia de Chaco.</p>
	<p>Ademas contamos con una oficina comercial en la localidad de Lobos, desde donde operamos con nuestros clientes de la zona centro este de la provincia de Buenos Aires.</p>
</section>