{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}

{% block path %}
<div class="path maxwidth">
	<div class="route"><a href="/">Home</a> > <a href="{% url 'extranet' %}">Extranet</a> > <span class="current">Cuenta Corriente Aplicada</span></div>
	{% if user.is_authenticated %}
		<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
	{% endif %}
</div>
{% endblock %}

{% block content %}

	<section id="ctacte" class="applied maxwidth">

		<h3>Cuenta Corriente Aplicada</h3>

		{% if applied %}

			{% load el_pagination_tags %}
			{% paginate applied %}

			<div class="export">
				<button>
					<a href="{% url 'downloadexcel' 'applied' %}"><i class="fa fa-table" aria-hidden="true"></i> Exportar a Excel</a>
				</button>
				<!--<button>
					<a href="/downloadtxt/applied/"><i class="fa fa-file-text-o" aria-hidden="true"></i> Exportar a TXT</a>
				</button>-->
			</div>
			<table>
				<thead>
					<tr>
						<th>Fecha Vto.</th>
						<th>Comprobante</th>
						<th>Observaciones</th>
						<th>Fecha Emi.</th>
						<th>Debe</th>
						<th>Haber</th>
						<th>Saldo</th>
					</tr>
				</thead>
				<tbody>
					{% show_current_number as page_number %}
					{% for j in page_balance %}
						{% if j.page == page_number %}
							<tr class="initial-balance">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>Saldo Inicial:</td>
								<td class="right">{{j.balance|floatformat:2|intcomma}}</td>
							</tr>
						{% endif %}
					{% endfor %}
					{% for i in applied %}
						<tr>
							<td class="center">{{i.obj.expiration_date|date:"d-m-Y"}}</td>
							<td>{{i.obj.voucher}}</td>
							<td>{{i.obj.concept}}</td>
							<td class="center">{{i.obj.issue_date|date:"d-m-Y"}}</td>
							{% if i.obj.movement_type == "Debito" %}
								<td class="right">{{i.obj.amount_sign|floatformat:2|intcomma}}</td>
								<td></td>
							{% else %}
								<td></td>
								<td class="right">{{i.obj.amount_sign|abs|floatformat:2|intcomma}}</td>
							{% endif %}
							<td class="right">{{i.balance|floatformat:2|intcomma}}</td>
						</tr>
					{% endfor %}
					{% if page_number == 1 %}
						<tr class="total">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Total Gral.:</td>
							<td class="right">{{total_sum.amount_sign__sum|floatformat:2|intcomma}}</td>
						</tr>
					{% endif %}
				</tbody>
			</table>

			<div class="pagination">
				<span class="wrapper">
					{% show_pages %}
				</span>
			</div>

		{% else %}

			<div class="no-data">
				<p>No se encontraron movimientos.</p>
			</div>

		{% endif %}

	</section>

{% endblock %}