{% extends 'base.html' %}
{% load static %}

{% block path %}
<div class="path maxwidth">
	<div class="route"><a href="/">Home</a> > <span class="current">Cambiar Password</span></div>
	{% if user.is_authenticated %}
		<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
	{% endif %}
</div>
{% endblock %}

{% block content %}
<section id="change-password" class="maxwidth">
	<div class="state">
		{% if changed %}
			<p>Se ha modificado su password correctamente.</p>
		{% else %}
			<p>Para acceder a su cuenta es necesario que ingrese una nueva contraseña.</p>
		{% endif %}
	</div>

	<form action="{% url 'change_password' %}" class="login-extranet" method="post">
	{% csrf_token %}
		<fieldset>
			<div class="input">
				<input type="password" name="password1" placeholder="Contraseña">
				<span>
					<i class="fa fa-lock" aria-hidden="true"></i>
				</span>
			</div>
			<div class="input">
				<input type="password" name="password2" placeholder="Repita la contraseña">
				<span>
					<i class="fa fa-lock" aria-hidden="true"></i>
				</span>
			</div>
			<button type="submit" class="submit">
				Cambiar contraseña <i class="fa fa-sign-in" aria-hidden="true"></i>
			</button>
			<input type="hidden" name="next" value="{{ next }}" />
		</fieldset>
	</form>
</section>
{% endblock %}