{% extends 'base.html' %}
{% load static %}

{% block path %}
<div class="path maxwidth">
	<div class="route"><a href="/">Home</a> > <a href="{% url 'extranet' %}">Extranet</a> > <span class="current">Cambiar Password</span></div>
	{% if user.is_authenticated %}
		<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
	{% endif %}
</div>
{% endblock %}

{% block content %}
<section id="change-password" class="maxwidth">
	<div class="state">
		{% if account_confirmed %}
			<p class="account-confirmed">¡Su cuenta ha sido activada!</p>
			<p>Le recomendamos ingresar una nueva contraseña.</p>
		{% endif %}
		{% if changed %}
			<p>¡Ha cambiado su password correctamente!</p>
		{% endif %}
	</div>

	<form action="{% url 'change_password' %}" class="login-extranet" method="post">
	{% csrf_token %}
		<fieldset>
			<div class="input">
				<input class="password" type="password" name="password1" placeholder="Contraseña">
				<span class="icon">
					<i class="fa fa-lock" aria-hidden="true"></i>
				</span>
				<span class="eye">
					<i class="fa fa-eye" aria-hidden="true"></i>
				</span>
			</div>
			<div class="input">
				<input class="password" type="password" name="password2" placeholder="Repita la contraseña">
				<span class="icon">
					<i class="fa fa-lock" aria-hidden="true"></i>
				</span>
				<span class="eye">
					<i class="fa fa-eye" aria-hidden="true"></i>
				</span>
			</div>
			<button type="submit" class="submit">
				Cambiar contraseña <i class="fa fa-refresh" aria-hidden="true"></i>
			</button>
			<input type="hidden" name="next" value="{{ next }}" />
		</fieldset>
	</form>
</section>
{% endblock %}