{% extends 'base.html' %}
{% load static %}

{% block title %}Buratovich Hnos. S.A. - Contacto{% endblock %}

{% block content %}
<section class="contact">
	<div class="path"><a href="/">Home</a> > <span class="current">Contacto</span></div>
	<p class="data-contact">Ante cualquier consulta o sugerencia puede comunicarse via correo electronico a la dirección: <a href="mailto:buratovich@buratovich.com">buratovich@buratovich.com</a></p>
	<article class="offices">
		<h2>OFICINAS COMERCIALES</h2>
		<div>
			<img src="{% static "img/office_arrecifes.jpg" %}" alt="">
			<h3>Oficina ARRECIFES</h3>
			<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta 8 y Leandro N. Alem</p>
			<p><i class="fa fa-phone" aria-hidden="true"></i> Tel. 02478-451500 Lineas Rotativas</p>
		</div>
		<div>
			<img src="{% static "img/office_lobos.jpg" %}" alt="">
			<h3>Oficina LOBOS</h3>
			<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta 205 e Int.Miguel A.Turdó</p>
			<p><i class="fa fa-phone" aria-hidden="true"></i> Tel. 02227-15-410537</p>
		</div>
		<div>
			<img src="{% static "img/office_pinedo.jpg" %}" alt="">
			<h3>Oficina GRAL. PINEDO</h3>
			<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta Prov. 94 Km 65</p>
			<p><i class="fa fa-phone" aria-hidden="true"></i> Tel. 03731-480600</p>
		</div>
		<div>
			<img src="{% static "img/office_arrecifes.jpg" %}" alt="">
			<h3>Oficina CHARATA</h3>
			<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta Prov. 94 Km 65</p>
			<p><i class="fa fa-phone" aria-hidden="true"></i> Tel. 03731-480600</p>
		</div>
	</article>
	<article class="areas">
		<h2>CONTACTOS POR UNIDAD DE NEGOCIOS</h2>
		<div class="column">
			<div class="unit">
				<h3>Acopio de granos</h3>
				<h4>Liquidacion de Cereales</h4>
				<div>
					<p>Gustavo A. Quiroga</p>
					<p><a href="mailto:gquiroga@buratovich.com">gquiroga@buratovich.com</a></p>
				</div>
				<h4>Logistica</h4>
				<h5><i class="fa fa-map-marker" aria-hidden="true"></i> Arrecifes</h5>
				<div>
					<p>Enzo Lolo</p>
					<p><a href="mailto:elolo@buratovich.com">elolo@buratovich.com</a></p>
				</div>
				<div>
					<p>Balanza</p>
					<p><a href="mailto:balanza@buratovich.com">balanza@buratovich.com</a></p>
				</div>
				<h5><i class="fa fa-map-marker" aria-hidden="true"></i> Gral. Pinedo</h5>
				<div>
					<p>Gustavo Bernal</p>
					<p><a href="mailto:bura_chaco@buratovich.com">bura_chaco@buratovich.com</a></p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="unit">
				<h3>Comercializacion de cereales</h3>
				<h4>Area Comercial</h4>
				<h5><i class="fa fa-map-marker" aria-hidden="true"></i> Arrecifes</h5>
				<div>
					<p>José Antonio Buratovich</p>
					<p><a href="mailto:joseantonio@buratovich.com">joseantonio@buratovich.com</a></p>
				</div>
				<div>
					<p>Adolfo Buratovich</p>
					<p><a href="mailto:adolfo@buratovich.com">adolfo@buratovich.com</a></p>
				</div>
				<div>
					<p>Ana Inés Buratovich</p>
					<p><a href="mailto:ana@buratovich.com">ana@buratovich.com</a></p>
				</div>
				<div>
					<p>Enrique Figueroa</p>
					<p><a href="mailto:comercial@buratovich.com">comercial@buratovich.com</a></p>
				</div>
				<div>
					<p>Andres Bianco</p>
					<p><a href="mailto:abianco@buratovich.com">abianco@buratovich.com</a></p>
				</div>
				<h5><i class="fa fa-map-marker" aria-hidden="true"></i> Lobos</h5>
				<div>
					<p>Ramiro Etchart</p>
					<p><a href="mailto:retchart@buratovich.com">retchart@buratovich.com</a></p>
				</div>
				<h5><i class="fa fa-map-marker" aria-hidden="true"></i> Gral. Pinedo</h5>
				<div>
					<p>Andres Bianco</p>
					<p><a href="mailto:abianco@buratovich.com">abianco@buratovich.com</a></p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="unit">
				<h3>Exportacion</h3>
				<h4>Contacto Comercial</h4>
				<div>
					<p>Adolfo Buratovich</p>
					<p><a href="mailto:adolfo@buratovich.com">adolfo@buratovich.com</a></p>
				</div>
			</div>
			<div class="unit">
				<h3>Agricultura y Ganaderia</h3>
				<h4>Contacto Comercial</h4>
				<div>
					<p>Eduardo Buratovich</p>
					<p><a href="mailto:eduardo@buratovich.com">eduardo@buratovich.com</a></p>
				</div>
			</div>
			<div class="unit">
				<h3>Administración General</h3>
				<h4>Contador</h4>
				<div>
					<p>Gerardo Casadei</p>
					<p><a href="mailto:gcasadei@buratovich.com">gcasadei@buratovich.com</a></p>
				</div>
			</div>
		</div>
	</article>
</section>
{% endblock %}