{% extends 'base.html' %}
{% load static %}

{% block title %}Buratovich Hnos. - Carta de Porte Online{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="path-container">
		<div class="route"><a href="/">Home</a> <span class="chevron">></span> <span class="current">CARTA DE PORTE ON-LINE</span></div>
		{% if user.is_authenticated %}
			<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block content %}
<section id="cp">
	<form action="{% url 'cp' %}" method="post">
		{% csrf_token %}
		<div class="box">
			<h3>CARTA DE PORTE EN BLANCO</h3>
			<p>{{form.cp.label_tag}} {{form.cp}}</p>
		</div>
		<div class="box">
			<h3>DATOS DE LA CARTA DE PORTE</h3>
			<p>{{form.ownership_line.label_tag}} {{form.ownership_line}}</p>
			<p>{{form.load_date.label_tag}} {{form.load_date}}</p>
			<p>{{form.ctg.label_tag}} {{form.ctg}}</p>
			<h4>DATOS DE INTERVINIENTES EN EL TRASLADO DE GRANOS</h3>
			<p>
				<span>{{form.intermediary.label_tag}} {{form.intermediary}}</span>
				<span>{{form.intermediary_cuit.label_tag}} {{form.intermediary_cuit}}</span>
			</p>
			<p>
				<span>{{form.sender.label_tag}} {{form.sender}}</span>
				<span>{{form.sender_cuit.label_tag}} {{form.sender_cuit}}</span>
			</p>
			<p>
				<span>{{form.broker.label_tag}} {{form.broker}}</span>
				<span>{{form.broker_cuit.label_tag}} {{form.broker_cuit}}</span>
			</p>
			<p>
				<span>{{form.representative.label_tag}} {{form.representative}}</span>
				<span>{{form.representative_cuit.label_tag}} {{form.representative_cuit}}</span>
			</p>
			<p>
				<span>{{form.addressee.label_tag}} {{form.addressee}}</span>
				<span>{{form.addressee_cuit.label_tag}} {{form.addressee_cuit}}</span>
			</p>
			<p>
				<span>{{form.destination.label_tag}} {{form.destination}}</span>
				<span>{{form.destination_cuit.label_tag}} {{form.destination_cuit}}</span>
			</p>
			<p>
				<span>{{form.carrier.label_tag}} {{form.carrier}}</span>
				<span>{{form.carrier_cuit.label_tag}} {{form.carrier_cuit}}</span>
			</p>
			<p>
				<span>{{form.driver.label_tag}} {{form.driver}}</span>
				<span>{{form.driver_cuit.label_tag}} {{form.driver_cuit}}</span>
			</p>
			<h4>DATOS DE LOS GRANOS / ESPECIES TRANSPORTADOS</h4>
			<p>{{form.harvest.label_tag}} {{form.harvest}}</p>
			<p>{{form.species.label_tag}} {{form.species}}</p>
			<p>{{form.species_type.label_tag}} {{form.species_type}}</p>
			<p>{{form.contract.label_tag}} {{form.contract}}</p>
			<p>{{form.destination_load.label_tag}} {{form.destination_load}}</p>
			<p>{{form.estimated_kg.label_tag}} {{form.estimated_kg}}</p>
			<p>{{form.quality.label_tag}} {{form.quality}}</p>
			<p>{{form.gross_kg.label_tag}} {{form.gross_kg}}</p>
			<p>{{form.tare_kg.label_tag}} {{form.tare_kg}}</p>
			<p>{{form.net_kg.label_tag}} {{form.net_kg}}</p>
			<p>{{form.observations.label_tag}} {{form.observations}}</p>
			<h4>PROCEDENCIA DE LA MERCADERÍA</h4>
			<p>{{form.stablishment.label_tag}} {{form.stablishment}}</p>
			<p>{{form.address.label_tag}} {{form.address}}</p>
			<p>{{form.city.label_tag}} {{form.city}}</p>
			<p>{{form.state.label_tag}} {{form.state}}</p>
			<h4>LUGAR DE DESTINO DE LOS GRANOS</h4>
			<p>{{form.destination_address.label_tag}} {{form.destination_address}}</p>
			<p>{{form.destination_city.label_tag}} {{form.destination_city}}</p>
			<p>{{form.destination_state.label_tag}} {{form.destination_state}}</p>
			<h4>DATOS DEL TRANSPORTE</h4>
			<p>{{form.freight_payer.label_tag}} {{form.freight_payer}}</p>
			<p>{{form.truck.label_tag}} {{form.truck}}</p>
			<p>{{form.trailer.label_tag}} {{form.trailer}}</p>
			<p>{{form.km.label_tag}} {{form.km}}</p>
			<p>{{form.freight.label_tag}} {{form.freight}}</p>
			<p>{{form.ref_rate.label_tag}} {{form.ref_rate}}</p>
			<p>{{form.rate.label_tag}} {{form.rate}}</p>
		</div>
		<input type="submit" value="Enviar" />
	</form>
</section>
{% endblock %}