{% extends 'base.html' %}
{% load static %}

{% block title %}Buratovich Hnos. - Carta de Porte Online{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="path-container">
		<div class="route"><a href="/">Home</a> <span class="chevron">></span> <span class="current">CARTA DE PORTE ON-LINE</span></div>
		{% if user.is_authenticated %}
			<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block content %}
<section id="cp">
	<form action="/your-name/" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit" />
	</form>
</section>
{% endblock %}