{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}

{% block title %}Buratovich Hnos. - Cuenta Corriente en Peso{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="path-container">
		<div class="route"><a href="/">Home</a> <span class="chevron">></span> <a href="{% url 'extranet' %}">Extranet</a> <span class="chevron">></span> <span class="current">Cuenta Corriente en Pesos</span></div>
		{% if user.is_authenticated %}
			<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block content %}
	
	<section id="ctacte" class="pesos maxwidth">
	
		<h3>Cuenta Corriente en Pesos</h3>
		
		{% if ctacte %}

			{% load el_pagination_tags %}
			{% paginate ctacte %}

			<div class="export-data">
				<button>
					<a href="{% url 'downloadexcel' 'pesos' %}"><i class="fa fa-table" aria-hidden="true"></i> Exportar a Excel</a>
				</button>
				<!--<button>
					<a href="/extranet/ctacte/downloadtxt/"><i class="fa fa-file-text-o" aria-hidden="true"></i> Exportar a TXT</a>
				</button>-->
			</div>
			<table>
				<thead>
					<tr>
						<th>Fecha Vto.</th>
						<th>Comprobante</th>
						<th>Observaciones</th>
						<th>Fecha Emi.</th>
						<th>Debe</th>
						<th>Haber</th>
						<th>Saldo</th>
						<th>Descarga</th>
					</tr>
				</thead>
				<tbody>
					{% show_current_number as page_number %}
					{% for j in page_balance %}
						{% if j.page == page_number %}
							<tr class="initial-balance">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>Saldo Inicial:</td>
								<td class="right">{{j.balance|floatformat:2|intcomma}}</td>
								<td></td>
							</tr>
						{% endif %}
					{% endfor %}
					{% for i in ctacte %}
						<tr>
							<td class="center">{{i.obj.date_2|date:"d-m-Y"}}</td>
							<td>{{i.obj.voucher}}</td>
							<td>{{i.obj.concept}}</td>
							<td class="center">{{i.obj.date_1|date:"d-m-Y"}}</td>
							{% if i.obj.movement_type == "Debito" %}
								<td class="right">{{i.obj.amount_sign|floatformat:2|intcomma}}</td>
								<td></td>
							{% else %}
								<td></td>
								<td class="right">{{i.obj.amount_sign|abs|floatformat:2|intcomma}}</td>
							{% endif %}
							<td class="right">{{i.balance|floatformat:2|intcomma}}</td>
							{% if i.file %}
								{% with 'ctacte/'|add:i.file as image_static %}
									<td class="center">
										<a href="{% static image_static %}" target="_blank">
											<img src="{% static "img/pdf2.png" %}" alt="">
										</a>
									</td>
								{% endwith %}
							{% else %}
								<td></td>
							{% endif %}
						</tr>
					{% endfor %}
					{% if page_number == 1 %}
						<tr class="total">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Total Gral.:</td>
							<td class="right">{{total_sum.amount_sign__sum|floatformat:2|intcomma}}</td>
							<td></td>
						</tr>
					{% endif %}
				</tbody>
			</table>

			<div class="pagination">
				<span class="wrapper">
					{% show_pages %}
				</span>
			</div>

		{% else %}

			<div class="no-data">
				<p>No se encontraron movimientos.</p>
			</div>

		{% endif %}

	</section>

{% endblock %}