{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}
{% load l10n %}


{% block path %}
<div class="path maxwidth">
	<div class="route"><a href="/">Home</a> > <a href="/extranet/">Extranet</a> > <span class="current">Cuenta Corriente</span></div>
	{% if user.is_authenticated %}
		<div class="hi">Bienvenido, <span class="customer-name">{{user.username}}</span></div>
	{% endif %}
</div>
{% endblock %}

{% block content %}

{% load el_pagination_tags %}
{% paginate data %}

<section class="ctacte maxwidth">
	<h3>Cuenta Corriente en Pesos</h3>
	<table>
		<thead>
			<tr>
				<th>Fecha Vto.</th>
				<th>Comprobante</th>
				<th>Observaciones</th>
				<th>Fecha Emi.</th>
				<th>Debe</th>
				<th>Haber</th>
				<th>Saldo</th>
			</tr>
		</thead>
		{% for i in data %}
			<tr>
				<td class="date">{{i.obj.date_2|date:"d-m-Y"}}</td>
				<td>{{i.obj.voucher}}</td>
				<td>{{i.obj.concept}}</td>
				<td class="date">{{i.obj.date_1|date:"d-m-Y"}}</td>
				{% if i.obj.movement_type == "Debito" %}
					<td class="number">{{i.obj.amount_sign|floatformat:2|intcomma|unlocalize}}</td>
					<td></td>
				{% else %}
					<td></td>
					<td class="number">{{i.obj.amount_sign|abs|floatformat:2|intcomma|unlocalize}}</td>
				{% endif %}
				<td class="number">{{i.balance|floatformat:2|intcomma|unlocalize}}</td>
			</tr>
		{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Total Gral.:</td>
				<td>{{total_sum}}</td>
			</tr>
	</table>

	<div class="pagination">
		<span class="wrapper">{% show_pages %}</span>
	</div>
</section>

{% endblock %}