{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}
{% load truncatechars %}

{% block title %}Buratovich Hnos. - Cuenta Corriente en Peso{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="path-container">
		{% if user.is_authenticated %}
			<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
		{% endif %}
	</div>
	<div class="path-container">
		<div class="route"><a href="/">Home</a> <span class="chevron">></span> <a href="{% url 'extranet' %}">Extranet</a> <span class="chevron">></span> <span class="current">Cuenta Corriente en Pesos</span></div>
	</div>
</div>
{% endblock %}

{% block content %}

	<section id="ctacte" class="pesos maxwidth">
		<nav class="extranet-nav">
			<ul class="h-list">
				<div class="row">
					<li class="back">
						<a href="{% url 'extranet' %}">
							<div>
								<span>
									<img src="{% static "img/return-arrow.png" %}">
								</span>
							</div>
						</a>
					</li><!--
					--><li>
						<a href="{% url 'applied' %}">
							<div>
								<span>Cta. Cte.</span>
								<span>Aplicada</span>
							</div>
						</a>
					</li>
				</div>
				<div class="row">
					<li>
						<a href="{% url 'deliveries' %}">
							<div>
								<span>Entregas</span>
								<span><i class="fa fa-truck" aria-hidden="true"></i></span>
							</div>
						</a>
					</li><!--
					--><li>
						<a href="{% url 'sales' %}">
							<div>
								<span>Ventas</span>
								<span><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
							</div>
						</a>
					</li>
				</div>
			</ul>
		</nav>

		<h3>Cuenta Corriente en Pesos</h3>
		
		{% if ctacte %}

			{% load el_pagination_tags %}
			{% paginate ctacte %}

			<div class="export-data">
				<button>
					<a href="{% url 'downloadexcel' 'pesos' %}"><i class="fa fa-table" aria-hidden="true"></i> Exportar a Excel</a>
				</button>
				<!--<button>
					<a href="/extranet/ctacte/downloadtxt/"><i class="fa fa-file-text-o" aria-hidden="true"></i> Exportar a TXT</a>
				</button>-->
			</div>
			<table>
				<thead>
					<tr>
						<th>Fecha Vto.</th>
						<th>Comprobante</th>
						<th class="observations">Observaciones</th>
						<th class="date-e">Fecha Emi.</th>
						<th class="dh">D/H</th>
						<th class="amount">Importe</th>
						<th class="debe">Debe</th>
						<th class="haber">Haber</th>
						<th>Saldo</th>
						<th class="voucher"><i class="fa fa-file-text" aria-hidden="true"></i></th>
						<th class="detail" colspan="3"></th>
					</tr>
				</thead>
				<tbody>
					{% show_current_number as page_number %}
					{% for j in page_balance %}
						{% if j.page == page_number %}
							<tr class="initial-balance">
								<td></td>
								<td></td>
								<td class="observations"></td>
								<td class="date-e"></td>
								<td class="dh"></td>
								<td class="amount">S. Inicial:</td>
								<td class="debe"></td>
								<td class="haber">S. Inicial:</td>
								<td class="right">{{j.balance|floatformat:2|intcomma}}</td>
								<td class="voucher"></td>
								<td class="detail" colspan="3"></td>
							</tr>
						{% endif %}
					{% endfor %}
					{% for i in ctacte %}
						<tr>
							<td class="center">{{i.obj.date_2|date:"d/m/Y"}}</td>
							<td>{{i.obj.voucher}}</td>
							{% truncate_chars i.obj.concept 40 as concept %}
							<td class="observations">{{concept}}</td>
							<td class="center date-e">{{i.obj.date_1|date:"d/m/Y"}}</td>
							{% if i.obj.movement_type == "Debito" %}
								<td class="center dh">D</td>
								<td class="right amount">{{i.obj.amount_sign|floatformat:2|intcomma}}</td>
							{% else %}
								<td class="center dh">H</td>
								<td class="right amount">{{i.obj.amount_sign|floatformat:2|intcomma}}</td>
							{% endif %}
							{% if i.obj.movement_type == "Debito" %}
								<td class="right debe">{{i.obj.amount_sign|floatformat:2|intcomma}}</td>
								<td class="haber"></td>
							{% else %}
								<td class="debe"></td>
								<td class="right haber">{{i.obj.amount_sign|abs|floatformat:2|intcomma}}</td>
							{% endif %}
							<td class="right">{{i.balance|floatformat:2|intcomma}}</td>
							{% if i.file %}
								<td class="center voucher">
									<a href="{% url 'downloadPDF' %}?f={{i.file}}" target="_blank">
										<img src="{% static "img/pdf2.png" %}" alt="">
									</a>
								</td>
							{% else %}
								<td class="voucher"></td>
							{% endif %}
							<td class="center detail" colspan="3">
								<a href="#" class="show-detail">
									<i class="fa fa-search-plus" aria-hidden="true"></i>
								</a>
								<a href="#" class="hide-detail hide-btn">
									<i class="fa fa-search-minus" aria-hidden="true"></i>
								</a>
							</td>
						</tr>
						<tr class="detail">
							<td colspan="7">
								<table>
									<thead>
										<tr>
											<th class="observations">Observaciones</th>
											<th class="voucher"><i class="fa fa-file-text" aria-hidden="true"></i></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="observations">{{i.obj.concept}}</td>
											{% if i.file %}
												<td class="center voucher">
													<a href="{% url 'downloadPDF' %}?f={{i.file}}" target="_blank">
														<img src="{% static "img/pdf2.png" %}" alt="">
													</a>
												</td>
											{% else %}
												<td class="voucher"></td>
											{% endif %}
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					{% endfor %}
					{% if page_number == 1 %}
						<tr class="total">
							<td></td>
							<td></td>
							<td class="observations"></td>
							<td class="date-e"></td>
							<td class="dh"></td>
							<td class="amount">Total Gral.:</td>
							<td class="debe"></td>
							<td class="haber">Total Gral.:</td>
							<td class="right">{{total_sum.amount_sign__sum|floatformat:2|intcomma}}</td>
							<td class="voucher"></td>
							<td colspan="3"></td>
						</tr>
					{% endif %}
				</tbody>
			</table>

			<div class="pagination">
				<span class="wrapper">
					{% show_pages %}
				</span>
			</div>

		{% else %}

			<div class="no-data">
				<p>No se encontraron movimientos.</p>
			</div>

		{% endif %}

	</section>

{% endblock %}