{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Buratovich Hnos. - Trabajá con nosotros{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="path-container">
		{% if user.is_authenticated %}
			<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
		{% endif %}
	</div>
	<div class="path-container">
		<div class="route"><a href="/">Home</a> <span class="chevron">></span> <span class="current">TRABAJÁ CON NOSOTROS</span></div>
	</div>
</div>
{% endblock %}

{% block content %}
<section id="cv" class="maxwidth">
	<h2>TRABAJÁ EN BURATOVICH HNOS.</h2>
	<div class="data">
		<p>Formar parte del grupo <span class="bh">Buratovich</span> es crecer y desarrollarse profesionalmente día a día, es integrar un grupo humano capacitado y comprometido para lograr los objetivos de la empresa, es enfrentar desafíos que estimulan la innovación en un excelente ambiente laboral.</p>
		<p>La eficiencia, profesionalismo y creatividad de las personas hacen de <span class="bh">Buratovich Hnos.</span> <span>una excelente empresa de la cual formar parte</span>.</p>
		<p>Si estás interesado en formar parte del equipo envíanos tu Curriculum Vitae y lo tendremos en cuenta para nuestras próximas busquedas laborales.</p>
		<p class="data-contact">Enviá tu CV a: <a href="mailto:buratovich@buratovich.com?subject=Curriculum Vitae"><i class="fa fa-paper-plane" aria-hidden="true"></i> buratovich@buratovich.com</a></p>
	</div>
	<div class="img">
		<img src="{% static "img/office_guy.jpg" %}" alt="">
	</div>
	<div style="clear:both;"></div>
</section>
{% endblock %}