{% extends 'base.html' %}
{% load static from staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% load analysis %}
{% load truncatechars %}
{% load voucher %}

{% block title %}Buratovich Hnos. - Entregas por Cosecha{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="path-container">
		{% if user.is_authenticated %}
			<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
		{% endif %}
	</div>
	<div class="path-container">
		<div class="route"><a href="/">Home</a> <span class="chevron">></span> <a href="{% url 'extranet' %}">Extranet</a> <span class="chevron">></span> <span class="current">Entregas</span></div>
	</div>
</div>
{% endblock %}

{% block content %}

	<section id="ctacte" class="kilos maxwidth">
		<nav class="extranet-nav">
			<ul class="h-list">
				<div class="row">
					<li class="back">
						<a href="{% url 'extranet' %}">
							<div>
								<span>
									<img src="{% static "img/return-arrow.png" %}">
								</span>
							</div>
						</a>
					</li><!--
					--><li class="ctacte-pesos">
						<a href="{% url 'ctacte' %}">
							<div>
								<span class="full">Cuenta Corriente</span>
								<span class="short">Cta. Cte.</span>
								<span>$</span>
							</div>
						</a>
					</li>
				</div>
				<div class="row">
					<li>
						<a href="{% url 'applied' %}">
							<div>
								<span>Cta. Cte.</span>
								<span>Aplicada</span>
							</div>
						</a>
					</li><!--
					--><li>
						<a href="{% url 'sales' %}">
							<div>
								<span>Ventas</span>
								<span><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
							</div>
						</a>
					</li>
				</div>
			</ul>
		</nav>

		<h3>Entregas</h3>

		{% if user.userinfo.is_commercial %}
			{% if request.session.algoritmo_code %}
				<h4 class="client-selected">{{request.session.algoritmo_code|slugify}} - {{request.session.company_name|upper}}</h4>
			{% endif %}
		{% endif %}

		{% if species %}

			<div class="harvest-selector">
				<form action="{% url 'deliveries' %}" method="get">
				<!-- {% csrf_token %} -->
					<div class="harvest-detail">
					{% for harvest, values in species.items %}
						<div>
							<h4>{{harvest}}</h4>
							{% for species_name, items in values.items %}
								<label>
									<input type="checkbox" name="checks" value="{{species_name}}{{harvest}}" {% if items.checked %} checked {% endif %}>
									{{items.description|title}}
								</label>
							{% endfor %}
						</div>
					{% endfor %}
					</div>
					<div style="clear:both;"></div>
					<button type="submit" class="submit">
						Buscar
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>

			{% if tickets %}
				<div class="export-data">
					<button>
						<a href="{% url 'downloadexcel' 'deliveries' %}"><i class="fa fa-table" aria-hidden="true"></i> Exportar a Excel</a>
					</button>
					<!--<button>
						<a href=""><i class="fa fa-file-text-o" aria-hidden="true"></i> Exportar a TXT</a>
					</button>-->
				</div>

				{% for k, v in tickets.items  %}
					<h4 class="harvest-title">{{k}}</h4>
					<table>
						<thead>
							<tr>
								<th rowspan="2" class="date">Fecha</th>
								<th rowspan="2" class="voucher">Comprobante</th>
								<th rowspan="2" class="cp">CP</th>
								<th colspan="2" class="hum kg">Hum.</th>
								<th class="hum">Hum.</th>
								<th colspan="2" class="zar">Zar.</th>
								<th colspan="2" class="vol">Vol.</th>
								<th rowspan="2" class="gross">Brutos</th>
								<th rowspan="2" class="net">Netos</th>
								<th rowspan="2" class="factor">Factor</th>
								<th rowspan="2" class="grade">Grado</th>
								<th rowspan="2" class="detail analysis">Análisis</th>
								<th rowspan="2" class="cd">Nº 1116A</th>
								<th rowspan="2"	class="driver">Transportista</th>
								<th colspan="16" rowspan="2" class="detail"></th>
							</tr>
							<tr>
								<th colspan="1" class="hum per">%</th>
								<th colspan="1" class="hum kg">Kg.</th>
								<th colspan="1" class="zar">%</th>
								<th colspan="1" class="zar">Kg.</th>
								<th colspan="1" class="vol">%</th>
								<th colspan="1" class="vol">Kg.</th>
							</tr>
						</thead>
						<tbody>
							{% for i, j in v.items %}
								<tr class="field-name">
									<td colspan="16">{{j.name}}</td>
								</tr>
								{% for a, b in j.tickets.items %}
									{% get_analysis ticket_analysis b.voucher as detail %}
									<tr>
										<td class="center date">{{b.date|date:"d/m/Y"}}</td>
										{% voucher b.voucher 'S' as voucher %}
										<td class="voucher">{{voucher}}</td>
										<td class="center cp">{{b.external_voucher_number|stringformat:'s'}}</td>
										<td class="right hum per">{{b.humidity_percentage|floatformat:2|intcomma}}</td>
										<td class="right hum kg">{{b.humidity_kg|intcomma}}</td>
										<td class="right zar">{{b.shaking_reduction|floatformat:2|intcomma}}</td>
										<td class="right zar">{{b.shaking_kg|intcomma}}</td>
										<td class="right vol">{{b.volatile_reduction|floatformat:2|intcomma}}</td>
										<td class="right vol">{{b.volatile_kg|intcomma}}</td>
										<td class="right gross">{{b.gross_kg|intcomma}}</td>
										<td class="right net">{{b.net_weight|intcomma}}</td>
										<td class="center factor">{{b.factor|intcomma}}</td>
										<td class="center grade">{{b.grade}}</td>
										<td class="center detail analysis">
											{% if detail %}
												<a href="#" class="show-detail">
													<i class="fa fa-search-plus" aria-hidden="true"></i>
												</a>
												<a href="#" class="hide-detail hide-btn">
													<i class="fa fa-search-minus" aria-hidden="true"></i>
												</a>
											{% endif %}
										</td>
										<td class="center cd">{{b.number_1116A|stringformat:'s'}}</td>
										{% truncate_chars b.driver_name 20 as driver %}
										<td class="driver">{{driver}}</td>
										<td colspan="16" class="center detail">
											<a href="#" class="show-detail">
												<i class="fa fa-search-plus" aria-hidden="true"></i>
											</a>
											<a href="#" class="hide-detail hide-btn">
												<i class="fa fa-search-minus" aria-hidden="true"></i>
											</a>
										</td>
									</tr>
									<tr class="analysis">
										<td colspan="16">
											<table class="ticket-detail">
												<thead>
													<tr>
														<th class="center factor">Factor</th>
														<th class="center grade">Grado</th>
														<th class="driver">Chofer</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="center factor">{{b.factor|intcomma}}</td>
														<td class="center grade">{{b.grade}}</td>
														<td class="driver">{{driver}}</td>
													</tr>
												</tbody>
											</table>
											{% if detail %}
												<table class="analysis-detail">
													<thead>
														<tr>
															<th colspan="3">Gluten: {{detail.0.gluten}}</th>
															<th colspan="2">Importe de Gastos: $ {{detail.0.analysis_costs|floatformat:2|intcomma}}</th>
														</tr>
														<tr>
															<th colspan="2">Item</th>
															<th>%</th>
															<th>Bonificación</th>
															<th>Rebaja</th>
														</tr>
													</thead>
													<tbody>
														{% for z in detail %}
															<tr>
																<td colspan="2">{{z.item_descripcion}}</td>
																<td class="right">{{z.percentage|floatformat:2|intcomma}}</td>
																<td class="right">{{z.bonus|floatformat:2|intcomma}}</td>
																<td class="right">{{z.reduction|floatformat:2|intcomma}}</td>
															</tr>
														{% endfor %}
													</tbody>
												</table>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
								<tr class="total">
									<td class="center date"><span>Entregas: {{j.tickets_count}}</span></td>
									<td class="voucher"></td>
									<td class="cp"></td>
									<td class="hum per"></td>
									<td class="right hum kg"><span>{{j.total_hum}}</span></td>
									<td class="zar"></td>
									<td class="right zar"><span>{{j.total_sha}}</span></td>
									<td class="vol"></td>
									<td class="right vol"><span>{{j.total_vol}}</span></td>
									<td class="right gross"><span>{{j.total_gross}}</span></td>
									<td class="right net"><span>{{j.total_net}}</span></td>
									<td class="factor"></td>
									<td class="grade"></td>
									<td class="detail analysis"></td>
									<td class="cd"></td>
									<td class="driver"></td>
									<td colspan="16" class="detail"></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endfor %}

				<div class="total-received">
					<p>Total Entregado: <span>{{total.net_weight__sum|intcomma}}</span></p>
				</div>

			{% else %}

				<div class="no-species">
					<p>Seleccione las especies y cosechas que desea visualizar.</p>
				</div>

			{% endif %}

		{% else %}

			<div class="no-data">
				{% if request.session.algoritmo_code %}
					<p>No se encontraron movimientos.</p>
				{% else %}
					<p>Debe seleccionar un Cliente.</p>
				{% endif %}
			</div>

		{% endif %}

	</section>

{% endblock %}