{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}
{% load analysis %}

{% block path %}
<div class="path maxwidth">
	<div class="route"><a href="/">Home</a> > <a href="/extranet/">Extranet</a> > <span class="current">Cuenta Corriente en Kilos</span></div>
	{% if user.is_authenticated %}
		<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
	{% endif %}
</div>
{% endblock %}

{% block content %}

	<section id="ctacte" class="kilos maxwidth">

		<h3>Cuenta Corriente en Kilos</h3>

		{% if species %}

			<div class="harvest-selector">
				<form action="/extranet/deliveries/" method="post">
				{% csrf_token %}
					<div class="harvest-detail">
					{% for harvest, values in species.items %}
						<div>
							<h4>{{harvest}}</h4>
							{% for species_name, items in values.items %}
								<label>
									<input type="checkbox" name="checks" value="{{species_name}}{{harvest}}" {% if items.checked %} checked {% endif %}>
									{{items.description|title}}
								</label>
							{% endfor %}
						</div>
					{% endfor %}
					</div>
					<div style="clear:both;"></div>
					<button type="submit" class="submit">
						Buscar
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>

			{% if tickets %}
				<div class="export">
					<button>
						<a href="/downloadexcel/deliveries/"><i class="fa fa-table" aria-hidden="true"></i> Exportar a Excel</a>
					</button>
					<!--<button>
						<a href=""><i class="fa fa-file-text-o" aria-hidden="true"></i> Exportar a TXT</a>
					</button>-->
				</div>

				{% for k, v in tickets.items  %}
					<h4 class="harvest-title">{{k}}</h4>
					<table>
						<thead>
							<tr>
								<th rowspan="2">Fecha</th>
								<th rowspan="2">Comprobante</th>
								<th rowspan="2">Brutos</th>
								<th colspan="2">Hum.</th>
								<th colspan="2">Zar.</th>
								<th colspan="2">Vol.</th>
								<th rowspan="2">Netos</th>
								<th rowspan="2">Factor</th>
								<th rowspan="2">Grado</th>
								<th rowspan="2">Analisis</th>
								<th rowspan="2">Nº 1116A</th>
								<th rowspan="2">CP</th>
								<th rowspan="2"	>Transportista</th>
							</tr>
							<tr>
								<th colspan="1">%</th>
								<th colspan="1">Kg.</th>
								<th colspan="1">%</th>
								<th colspan="1">Kg.</th>
								<th colspan="1">%</th>
								<th colspan="1">Kg.</th>
							</tr>
						</thead>
						<tbody>
							{% for i, j in v.items %}
								<tr class="field-name">
									<td colspan="16">{{j.name}}</td>
								</tr>
								{% for a, b in j.tickets.items %}
									{% get_analysis ticket_analysis analysis_detail b.voucher as detail %}
									<tr>
										<td class="center">{{b.date|date:"d-m-Y"}}</td>
										<td>{{b.voucher}}</td>
										<td class="right">{{b.gross_kg|intcomma}}</td>
										<td class="right">{{b.humidity_percentage|floatformat:2|intcomma}}</td>
										<td class="right">{{b.humidity_kg|intcomma}}</td>
										<td class="right">{{b.shaking_reduction|floatformat:2|intcomma}}</td>
										<td class="right">{{b.shaking_kg|intcomma}}</td>
										<td class="right">{{b.volatile_reduction|floatformat:2|intcomma}}</td>
										<td class="right">{{b.volatile_kg|intcomma}}</td>
										<td class="right">{{b.net_weight|intcomma}}</td>
										<td class="center">{{b.factor|intcomma}}</td>
										<td class="center">{{b.grade}}</td>
										<td class="center">
											{% if detail %}
												<a href="#" class="show-analysis">
													<i class="fa fa-search-plus" aria-hidden="true"></i>
												</a>
												<a href="#" class="hide-analysis hide-btn">
													<i class="fa fa-search-minus" aria-hidden="true"></i>
												</a>
											{% endif %}
										</td>
										<td class="center">{{b.number_1116A}}</td>
										<td class="center">{{b.external_voucher_number}}</td>
										<td>{{b.driver_name}}</td>
									</tr>
									{% if detail %}
										<tr class="analysis">
											<td colspan="16">
												<table class="analysis-detail">
													<thead>
														<tr>
															<th colspan="2">Analisis: {{detail.0.analysis}}</th>
															<th>C. Proteico: {{detail.0.protein|intcomma}}</th>
															<th>Gluten: {{detail.0.gluten|intcomma}}</th>
															<th>Importe de Gastos: $ {{detail.0.analysis_costs|floatformat:2|intcomma}}</th>
														</tr>
														<tr>
															<th colspan="2">Item</th>
															<th>%</th>
															<th>Bonificación</th>
															<th>Rebaja</th>
														</tr>
													</thead>
													<tbody>
														{% for z in detail %}
															<tr>
																<td colspan="2">{{z.item_descripcion}}</td>
																<td class="right">{{z.percentage|floatformat:2|intcomma}}</td>
																<td class="right">{{z.bonus|floatformat:2|intcomma}}</td>
																<td class="right">{{z.reduction|floatformat:2|intcomma}}</td>
															</tr>
														{% endfor %}
													</tbody>
												</table>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								<tr class="total">
									<td class="center"><span>Entregas: {{j.tickets_count}}</span></td>
									<td></td>
									<td class="right"><span>{{j.total_gross}}</span></td>
									<td></td>
									<td class="right"><span>{{j.total_hum}}</span></td>
									<td></td>
									<td class="right"><span>{{j.total_sha}}</span></td>
									<td></td>
									<td class="right"><span>{{j.total_vol}}</span></td>
									<td class="right"><span>{{j.total_net}}</span></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<!--<tr class="separator"><td colspan="16"></td></tr>-->
							{% endfor %}
						</tbody>
					</table>
				{% endfor %}
				<div class="total-received">
					<p>Total Entregado: <span>{{total.net_weight__sum|intcomma}}</span></p>
				</div>

			{% else %}
				
				<div class="no-species">
					<p>Seleccione las especies y cosechas que desea visualizar.</p>
				</div>

			{% endif %}

		{% else %}

			<div class="no-data">
				<p>No se encontraron movimientos.</p>
			</div>

		{% endif %}

	</section>

{% endblock %}