{% extends 'base.html' %}
{% load static %}

{% block path %}
<div class="path maxwidth">
	<div class="route"><a href="/">Home</a> > <span class="current">Extranet</span></div>
	{% if user.is_authenticated %}
		<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
	{% endif %}
</div>
{% endblock %}

{% block content %}
<section id="extranet" class="maxwidth">

	{% if notifications|length > 0 %}
		{% for n in notifications %}
			<article class="notification">
				<p class="date">{{n.date|date:"l, d F Y"}}</p>
				<div class="notification-content">
					<p class="title">{{n.title}}</p>
					<p class="text">{{n.notification}}</p>
				</div>
			</article>
		{% endfor %}
		<p class="viewed">
			<a href="/extranet/notifications/">He leido las notificaciones</a>
		</p>
	{% else %}
		<ul class="h-list">
			<div class="row">
				<li>
					<a href="/extranet/ctacte/">
						<div>
							<span>Cuenta Corriente</span>
							<span>$</span>
						</div>
					</a>
				</li><!--
				--><li>
					<a href="/extranet/ctactekg/">
						<div>
							<span>Cuenta Corriente</span>
							<span>Kg</span>
						</div>
					</a>
				</li><!--
				--><li>
					<a href="/extranet/ventas/">
						<div>
							<span>Ventas</span>
							<span><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
						</div>
					</a>
				</li>
			</div>
			<div class="row">
				<li>
					<a href="/extranet/user/">
						<div>
							<span>Usuario</span>
							<span><i class="fa fa-user" aria-hidden="true"></i></span>
						</div>
					</a>
				</li><!--
				--><li>
					<a href="/logout/">
						<div>
							<span>Salir</span>
							<span><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						</div>
					</a>
				</li>
			</div>
		</ul>
	{% endif %}
	
</section>
{% endblock %}