{% extends 'base.html' %}
{% load static %}

{% block title %}Buratovich Hnos. - Acceso a la Extranet{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="path-container">
		{% if user.is_authenticated %}
			<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
		{% endif %}
	</div>
	<div class="path-container">
		<div class="route"><a href="/">Home</a> <span class="chevron">></span> <span class="current">Login</span></div>
	</div>
</div>
{% endblock %}

{% block content %}
<section id="login" class="maxwidth">
	<div class="state">
		{% if login %}
			<p>Acceso para clientes</p>
			<p class="legend">Nos sentimos en la obligación de facilitarle el acceso a la información y la transparencia de nuestras operaciones, motivo por el cual agradecemos que nos envíe sus criticas y/o sugerencias via correo electrónico a <a href="mailto:buratovich@buratovich.com"><i class="fa fa-paper-plane" aria-hidden="true"></i> buratovich@buratovich.com</a></p>
		{% else %}
			{% if inactive_account %}
				<p>Su cuenta aún no ha sido activada. Ingrese al link de activación que recibió por correo.</p>
			{% else %}
				{% if login_invalid %}
					<p>¡Ops! parece que su usuario y contraseña no son validos. Inténtelo nuevamente.</p>
				{% else %}
					{% if login_required %}
						<p>Es necesario que ingrese con su usuario y contraseña para acceder esta pagina.</p>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	</div>

	<form action="{% url 'login' %}" class="login-extranet" method="post">
	{% csrf_token %}
		<fieldset>
			<div class="input">
				<input type="text" name="username" placeholder="Usuario">
				<span class="icon">
					<i class="fa fa-user" aria-hidden="true"></i>
				</span>
			</div>
			<div class="input">
				<input class="password" type="password" name="password" placeholder="Contraseña">
				<span class="icon">
					<i class="fa fa-lock" aria-hidden="true"></i>
				</span>
				<span class="eye">
					<i class="fa fa-eye" aria-hidden="true"></i>
				</span>
			</div>
			<button type="submit" class="submit">
				Ingresar <i class="fa fa-sign-in" aria-hidden="true"></i>
			</button>
			<input type="hidden" name="next" value="{{ next }}" />
		</fieldset>
	</form>
</section>
{% endblock %}