{% extends 'base.html' %}
{% load static %}

{% block path %}
<div class="path maxwidth">
	<div class="route"><a href="/">Home</a> > <span class="current">Login</span></div>
	{% if user.is_authenticated %}
		<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
	{% endif %}
</div>
{% endblock %}

{% block content %}
<section id="login" class="maxwidth">
	<div class="state">
		{% if login %}
			<p>Acceso para clientes</p>
		{% else %}
			{% if login_invalid %}
				<p>¡Ops! parece que su usuario y contraseña no son validos. Intentelo nuevamente.</p>
			{% else %}
				{% if login_required %}
					<p>Es necesario que ingrese con su usuario y contraseña para acceder esta pagina.</p>
				{% endif %}
			{% endif %}
		{% endif %}
		<span>Si no recuerda sus datos de ingreso puede comunicarse via correo electrónico a  <a href="mailto:buratovich@buratovich.com">buratovich@buratovich.com</a> y recibira nuevamente su usuario y contraseña.</span>
	</div>

	<form action="{% url 'login' %}" class="login-extranet" method="post">
	{% csrf_token %}
		<fieldset>
			<!--<legend>Acceso a Clientes</legend>-->
			<div class="input">
				<input type="text" name="username" placeholder="Usuario">
				<span>
					<i class="fa fa-user" aria-hidden="true"></i>
				</span>
			</div>
			<div class="input">
				<input type="password" name="password" placeholder="Contraseña">
				<span>
					<i class="fa fa-lock" aria-hidden="true"></i>
				</span>
			</div>
			<button type="submit" class="submit">
				Ingresar <i class="fa fa-sign-in" aria-hidden="true"></i>
			</button>
			<input type="hidden" name="next" value="{{ next }}" />
		</fieldset>
	</form>
</section>
{% endblock %}