{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}

{% block path %}
<div class="path maxwidth">
	<div class="route"><a href="/">Home</a> > <a href="{% url 'extranet' %}">Extranet</a> > <span class="current">Ventas</span></div>
	{% if user.is_authenticated %}
		<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
	{% endif %}
</div>
{% endblock %}

{% block content %}

	<section id="ctacte" class="sales maxwidth">

		<h3>Ventas</h3>

		{% if species %}

			<div class="harvest-selector">
				<form action="{% url 'sales' %}" method="post">
				{% csrf_token %}
					<div class="harvest-detail">
					{% for harvest, values in species.items %}
						<div>
							<h4>{{harvest}}</h4>
							{% for species_name, items in values.items %}
								<label>
									<input type="checkbox" name="checks" value="{{species_name}}{{harvest}}" {% if items.checked %} checked {% endif %}>
									{{items.description|title}}
								</label>
							{% endfor %}
						</div>
					{% endfor %}
					</div>
					<div style="clear:both;"></div>
					<button type="submit" class="submit">
						Buscar
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>

			{% if sales %}
				<div class="export">
					<button>
						<a href="{% url 'downloadexcel' 'sales' %}"><i class="fa fa-table" aria-hidden="true"></i> Exportar a Excel</a>
					</button>
					<!--<button>
						<a href=""><i class="fa fa-file-text-o" aria-hidden="true"></i> Exportar a TXT</a>
					</button>-->
				</div>

				{% for k, v in sales.items  %}
					<h4 class="harvest-title">{{k}}</h4>
					{% if v.sales %}
						<table>
							<thead>
								<tr class="sales-type">
									<th colspan="10">VENTAS</th>
								</tr>
								<tr>
									<th rowspan="2">Fecha</th>
									<th rowspan="2">Comprobante</th>
									<th rowspan="2">Destino</th>
									<th colspan="2">Fecha de Entrega</th>
									<th rowspan="2">Kilos</th>
									<th rowspan="2">Pend. TC</th>
									<th rowspan="2">Liquidados</th>
									<th rowspan="2">Precio por QQ.</th>
									<th rowspan="2">Moneda</th>
								</tr>
								<tr>
									<th colspan="1">Desde</th>
									<th colspan="1">Hasta</th>
								</tr>
							</thead>
							<tbody>
								{% for i, j in v.sales.vouchers.items %}
									<tr>
										<td class="center">{{j.date|date:"d-m-Y"}}</td>
										<td class="center">{{j.voucher}}</td>
										<td>{{j.field_description}}</td>
										<td class="center">{{j.service_billing_date|date:"d-m-Y"}}</td>
										<td class="center">{{j.to_date|date:"d-m-Y"}}</td>
										<td class="right">{{j.gross_kg|intcomma}}</td>
										<td class="right">{{j.service_billing_number|intcomma}}</td>
										<td class="center">{{j.number_1116A|intcomma}}</td>
										<td class="right">{{j.price_per_yard|floatformat:2|intcomma}}</td>
										<td class="center">{{j.grade}}</td>
									</tr>
								{% endfor %}
								<tr class="total">
									<td class="center"><span>Comprobantes: {{v.sales.count_sales}}</span></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td class="center"><span>{{v.sales.total_g_sales|intcomma}}</span></td>
									<td class="center"><span>{{v.sales.total_p_sales|intcomma}}</span></td>
									<td class="center"><span>{{v.sales.total_l_sales|intcomma}}</span></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					{% endif %}
					{% if v.to_set %}
						<table>
							<thead>
								<tr class="sales-type">
									<th colspan="6">A FIJAR</th>
								</tr>
								<tr>
									<th rowspan="2">Fecha</th>
									<th rowspan="2">Comprobante</th>
									<th rowspan="2">Destino</th>
									<th colspan="2">Fecha de Entrega</th>
									<th rowspan="2">Kilos</th>
								</tr>
								<tr>
									<th colspan="1">Desde</th>
									<th colspan="1">Hasta</th>
								</tr>
							</thead>
							<tbody>
								{% for i, j in v.to_set.vouchers.items %}
									<tr>
										<td class="center">{{j.date|date:"d-m-Y"}}</td>
										<td class="center">{{j.voucher}}</td>
										<td>{{j.field_description}}</td>
										<td class="center">{{j.service_billing_date|date:"d-m-Y"}}</td>
										<td class="center">{{j.to_date|date:"d-m-Y"}}</td>
										<td class="right">{{j.gross_kg|intcomma}}</td>
									</tr>
								{% endfor %}
								<tr class="total">
									<td class="center"><span>Comprobantes: {{v.to_set.count_to_set}}</span></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td class="center"><span>{{v.to_set.total_g_to_set|intcomma}}</span></td>
								</tr>
							</tbody>
						</table>
					{% endif %}
					{% if v.others %}
						<table>
							<thead>
								<tr class="sales-type">
									<th colspan="6">OTROS</th>
								</tr>
								<tr>
									<th rowspan="2">Fecha</th>
									<th rowspan="2">Comprobante</th>
									<th rowspan="2">Productor / Receptor</th>
									<th rowspan="2">Entradas</th>
									<th rowspan="2">Salidas</th>
									<th rowspan="2">Observaciones</th>
								</tr>
							</thead>
							<tbody>
								{% for i, j in v.others.vouchers.items %}
									<tr>
										<td class="center">{{j.date|date:"d-m-Y"}}</td>
										<td class="center">{{j.voucher}}</td>
										<td>{{j.driver_name}}</td>
										{% if j.gross_kg > 0 %}
											<td class="right">{{j.gross_kg|intcomma}}</td>
											<td></td>
										{% else %}
											<td></td>
											<td class="right">{{j.gross_kg|abs|intcomma}}</td>
										{% endif %}
										<td>{{j.observations}}</td>
									</tr>
								{% endfor %}
								<tr class="total">
									<td class="center"><span>Comprobantes: {{v.others.count_others}}</span></td>
									<td></td>
									<td></td>
									<td class="center"><span>{{v.others.total_i_others|intcomma}}</span></td>
									<td class="center"><span>{{v.others.total_o_others|intcomma}}</span></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					{% endif %}
				{% endfor %}

				<div class="total-received">
					<p>Total Ventas: <span>{% if not total.sales.net_weight__sum %} 0 {% else %} {{total.sales.net_weight__sum|intcomma}} {% endif %}</span></p>
				</div>
				<div class="total-received">
					<p>Total A Fijar: <span>{% if not total.to_set.net_weight__sum %} 0 {% else %} {{total.to_set.net_weight__sum|intcomma}} {% endif %}</span></p>
				</div>
				<div class="total-received">
					<p>Total Otros: <span>{% if not total.other.net_weight__sum %} 0 {% else %} {{total.other.net_weight__sum|intcomma}} {% endif %}</span></p>
				</div>

			{% else %}
				<div class="no-species">
					<p>Seleccione las especies y cosechas que desea visualizar.</p>
				</div>

			{% endif %}

		{% else %}

			<div class="no-data">
				<p>No se encontraron movimientos.</p>
			</div>

		{% endif %}
			

	</section>

{% endblock %}