{% extends 'base.html' %}
{% load static from staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% load truncatechars %}
{% load voucher %}

{% block title %}Buratovich Hnos. - Ventas por Cosecha{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="path-container">
		{% if user.is_authenticated %}
			<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
		{% endif %}
	</div>
	<div class="path-container">
		<div class="route"><a href="/">Home</a> <span class="chevron">></span> <a href="{% url 'extranet' %}">Extranet</a> <span class="chevron">></span> <span class="current">Ventas</span></div>
	</div>
</div>
{% endblock %}

{% block content %}

	<section id="ctacte" class="sales maxwidth">
		<nav class="extranet-nav">
			<ul class="h-list">
				<div class="row">
					<li class="back">
						<a href="{% url 'extranet' %}">
							<div>
								<span>
									<img src="{% static "img/return-arrow.png" %}">
								</span>
							</div>
						</a>
					</li><!--
					--><li class="ctacte-pesos">
						<a href="{% url 'ctacte' %}">
							<div>
								<span class="full">Cuenta Corriente</span>
								<span class="short">Cta. Cte.</span>
								<span>$</span>
							</div>
						</a>
					</li>
				</div>
				<div class="row">
					<li>
						<a href="{% url 'applied' %}">
							<div>
								<span>Cta. Cte.</span>
								<span>Aplicada</span>
							</div>
						</a>
					</li><!--
					--><li>
						<a href="{% url 'deliveries' %}">
							<div>
								<span>Entregas</span>
								<span><i class="fa fa-truck" aria-hidden="true"></i></span>
							</div>
						</a>
					</li>
				</div>
			</ul>
		</nav>

		<h3>Ventas</h3>

		{% if user.userinfo.is_commercial %}
			{% if request.session.algoritmo_code %}
				<h4 class="client-selected">{{request.session.algoritmo_code|slugify}} - {{request.session.company_name|upper}}</h4>
			{% endif %}
		{% endif %}

		{% if species %}

			<div class="harvest-selector">
				<form action="{% url 'sales' %}" method="post">
				{% csrf_token %}
					<div class="harvest-detail">
					{% for harvest, values in species.items %}
						<div>
							<h4>{{harvest}}</h4>
							{% for species_name, items in values.items %}
								<label>
									<input type="checkbox" name="checks" value="{{species_name}}{{harvest}}" {% if items.checked %} checked {% endif %}>
									{{items.description|title}}
								</label>
							{% endfor %}
						</div>
					{% endfor %}
					</div>
					<div style="clear:both;"></div>
					<button type="submit" class="submit">
						Buscar
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>

			{% if sales %}
				<div class="export-data">
					<button>
						<a href="{% url 'downloadexcel' 'sales' %}"><i class="fa fa-table" aria-hidden="true"></i> Exportar a Excel</a>
					</button>
					<!--<button>
						<a href=""><i class="fa fa-file-text-o" aria-hidden="true"></i> Exportar a TXT</a>
					</button>-->
				</div>

				{% for k, v in sales.items  %}
					<h4 class="harvest-title">{{k}}</h4>
					{% if v.sales %}
						<table class="sales">
							<thead>
								<tr class="sales-type">
									<th colspan="11">VENTAS</th>
								</tr>
								<tr>
									<th rowspan="2" class="date">Fecha</th>
									<th rowspan="2" class="voucher">Venta</th>
									<th rowspan="2" class="field">Destino</th>
									<th colspan="2" class="from-to-date">Fecha de Entrega</th>
									<th rowspan="2" class="gross">Kilos</th>
									<th rowspan="2" class="ex">Pend. TC</th>
									<th rowspan="2" class="settled">Liquidados</th>
									<th rowspan="2" class="price">Precio</th>
									<th rowspan="2" class="currency responsive">$</th>
									<th rowspan="2" class="currency">Moneda</th>
									<th colspan="3" rowspan="2" class="detail"></th>
								</tr>
								<tr>
									<th colspan="1" class="from-to-date">Desde</th>
									<th colspan="1" class="from-to-date">Hasta</th>
								</tr>
							</thead>
							<tbody>
								{% for i, j in v.sales.vouchers.items %}
									<tr>
										<td class="center date">{{j.date|date:"d/m/Y"}}</td>
										{% voucher j.voucher 'N' as voucher %}
										<td class="center voucher">{{voucher}}</td>
										{% truncate_chars j.field_description 20 as field %}
										<td class="field">{{field}}</td>
										<td class="center from-to-date">{{j.service_billing_date|date:"d/m/Y"}}</td>
										<td class="center from-to-date">{{j.to_date|date:"d/m/Y"}}</td>
										<td class="right gross">{{j.gross_kg|intcomma}}</td>
										<td class="right ex">{{j.service_billing_number|intcomma}}</td>
										<td class="right settled">{{j.number_1116A|intcomma}}</td>
										<td class="right price">{{j.price_per_yard|floatformat:2|intcomma}}</td>
										{% if j.grade == 1 %}
											<td class="center currency">D</td>
										{% else %}
											{% if j.grade == 'D' %}
												<td class="center currency">D</td>
											{% else %}
												{% if j.grade == 0 %}
													<td class="center currency">P</td>
												{% endif %}
											{% endif %}
										{% endif %}
										<td class="center detail">
											<a href="#" class="show-detail">
												<i class="fa fa-search-plus" aria-hidden="true"></i>
											</a>
											<a href="#" class="hide-detail hide-btn">
												<i class="fa fa-search-minus" aria-hidden="true"></i>
											</a>
										</td>
									</tr>
									<tr class="detail">
										<td colspan="10">
											<table>
												<thead>
													<tr>
														<th class="from-to-date">Entrega Desde</th>
														<th class="from-to-date">Entrega Hasta</th>
														<th class="ex">Pend. TC</th>
														<th class="settled">Liquidados</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="center from-to-date">{{j.service_billing_date|date:"d/m/Y"}}</td>
														<td class="center from-to-date">{{j.to_date|date:"d/m/Y"}}</td>
														<td class="right ex">{{j.service_billing_number|intcomma}}</td>
														<td class="center settled">{{j.number_1116A|intcomma}}</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								{% endfor %}
								<tr class="total">
									<td colspan="2" class="center date"><span>Comprobantes: {{v.sales.count_sales}}</span></td>
									<!--<td class="voucher"></td>-->
									<td class="field"></td>
									<td class="from-to-date"></td>
									<td class="from-to-date"></td>
									<td class="center gross"><span>{{v.sales.total_g_sales|intcomma}}</span></td>
									<td class="center ex"><span>{{v.sales.total_p_sales|intcomma}}</span></td>
									<td class="center settled"><span>{{v.sales.total_l_sales|intcomma}}</span></td>
									<td class="price"></td>
									<td class="currency"></td>
									<td class="detail"></td>
								</tr>
							</tbody>
						</table>
					{% endif %}
					{% if v.to_set %}
						<table class="to-fix">
							<thead>
								<tr class="sales-type">
									<th colspan="6">A FIJAR</th>
								</tr>
								<tr>
									<th rowspan="2" class="date">Fecha</th>
									<th rowspan="2" class="voucher">Venta</th>
									<th rowspan="2" class="field">Destino</th>
									<th colspan="2" class="from-to-date">Fecha de Entrega</th>
									<th rowspan="2" class="gross">Kilos</th>
									<th colspan="3" rowspan="2" class="detail"></th>
								</tr>
								<tr>
									<th colspan="1" class="from-to-date">Desde</th>
									<th colspan="1" class="from-to-date">Hasta</th>
								</tr>
							</thead>
							<tbody>
								{% for i, j in v.to_set.vouchers.items %}
									<tr>
										<td class="center date">{{j.date|date:"d/m/Y"}}</td>
										{% voucher j.voucher 'N' as voucher %}
										<td class="center voucher">{{voucher}}</td>
										{% truncate_chars j.field_description 20 as field %}
										<td class="field">{{field}}</td>
										<td class="center from-to-date">{{j.service_billing_date|date:"d/m/Y"}}</td>
										<td class="center from-to-date">{{j.to_date|date:"d/m/Y"}}</td>
										<td class="right gross">{{j.gross_kg|intcomma}}</td>
										<td class="center detail">
											<a href="#" class="show-detail">
												<i class="fa fa-search-plus" aria-hidden="true"></i>
											</a>
											<a href="#" class="hide-detail hide-btn">
												<i class="fa fa-search-minus" aria-hidden="true"></i>
											</a>
										</td>
									</tr>
									<tr class="detail">
										<td colspan="6">
											<table>
												<thead>
													<tr>
														<th class="from-to-date">Entrega Desde</th>
														<th class="from-to-date">Entrega Hasta</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="center from-to-date">{{j.service_billing_date|date:"d/m/Y"}}</td>
														<td class="center from-to-date">{{j.to_date|date:"d/m/Y"}}</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								{% endfor %}
								<tr class="total">
									<td colspan="2" class="center date"><span>Comprobantes: {{v.to_set.count_to_set}}</span></td>
									<!--<td class="voucher"></td>-->
									<td class="field"></td>
									<td class="from-to-date"></td>
									<td class="from-to-date"></td>
									<td class="center gross"><span>{{v.to_set.total_g_to_set|intcomma}}</span></td>
									<td class="detail"></td>
								</tr>
							</tbody>
						</table>
					{% endif %}
					{% if v.others %}
						<table class="others">
							<thead>
								<tr class="sales-type">
									<th colspan="6">OTROS</th>
								</tr>
								<tr>
									<th rowspan="2" class="date">Fecha</th>
									<th rowspan="2" class="voucher">Venta</th>
									<th rowspan="2" class="name">Productor / Receptor</th>
									<th rowspan="2" class="kg">Kilos</th>
									<th rowspan="2" class="in">Entradas</th>
									<th rowspan="2" class="out">Salidas</th>
									<th rowspan="2" class="observations">Observaciones</th>
									<th colspan="3" rowspan="2" class="detail"></th>
								</tr>
							</thead>
							<tbody>
								{% for i, j in v.others.vouchers.items %}
									<tr>
										<td class="center date">{{j.date|date:"d/m/Y"}}</td>
										{% voucher j.voucher 'N' as voucher %}
										<td class="center voucher">{{voucher}}</td>
										{% truncate_chars j.driver_name 20 as name %}
										<td class="name">{{name}}</td>
										{% if j.gross_kg > 0 %}
											<td class="right kg">{{j.gross_kg|intcomma}}</td>
										{% else %}
											<td class="right kg">{{j.gross_kg|abs|intcomma}}</td>
										{% endif %}
										{% if j.gross_kg > 0 %}
											<td class="right in">{{j.gross_kg|intcomma}}</td>
											<td class="out"></td>
										{% else %}
											<td class="in"></td>
											<td class="right out">{{j.gross_kg|abs|intcomma}}</td>
										{% endif %}
										<td class="observations">{{j.observations}}</td>
										<td class="center detail">
											<a href="#" class="show-detail">
												<i class="fa fa-search-plus" aria-hidden="true"></i>
											</a>
											<a href="#" class="hide-detail hide-btn">
												<i class="fa fa-search-minus" aria-hidden="true"></i>
											</a>
										</td>
									</tr>
									<tr class="detail">
										<td colspan="7">
											<table>
												<thead>
													<tr>
														<th rowspan="2" class="voucher">Venta</th>
														<th class="observations">Observaciones</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="center voucher">{{voucher}}</td>
														<td class="observations">{{j.observations}}</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								{% endfor %}
								<tr class="total">
									<td colspan="2" class="center date"><span>Comprobantes: {{v.others.count_others}}</span></td>
									<!--<td class="voucher"></td>-->
									<td class="name"></td>
									<td class="center kg"><span>{{v.others.total_i_others|sub:v.others.total_o_others|intcomma}}</span></td>
									<td class="center in"><span>{{v.others.total_i_others|intcomma}}</span></td>
									<td class="center out"><span>{{v.others.total_o_others|intcomma}}</span></td>
									<td class="observations"></td>
									<td class="detail"></td>
								</tr>
							</tbody>
						</table>
					{% endif %}
				{% endfor %}


				<div class="total-received">
					<p>Total Ventas: <span>{% if not total.sales.net_weight__sum %} 0 {% else %} {{total.sales.net_weight__sum|intcomma}} {% endif %}</span></p>
				</div>
				<div class="total-received">
					<p>Total A Fijar: <span>{% if not total.to_set.net_weight__sum %} 0 {% else %} {{total.to_set.net_weight__sum|intcomma}} {% endif %}</span></p>
				</div>
				<div class="total-received">
					<p>Total Otros: <span>{% if not total.other.net_weight__sum %} 0 {% else %} {{total.other.net_weight__sum|intcomma}} {% endif %}</span></p>
				</div>

			{% else %}
				<div class="no-species">
					<p>Seleccione las especies y cosechas que desea visualizar.</p>
				</div>

			{% endif %}

		{% else %}

			<div class="no-data">
				{% if request.session.algoritmo_code %}
					<p>No se encontraron movimientos.</p>
				{% else %}
					<p>Debe seleccionar un Cliente.</p>
				{% endif %}
			</div>

		{% endif %}
			

	</section>

{% endblock %}