{% extends 'base.html' %}
{% load static %}

{% block title %}Buratovich Hnos. S.A. - Información Impositiva{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="route"><a href="/">Home</a> > <span class="current">Información Impositiva</span></div>
	{% if user.is_authenticated %}
		<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
	{% endif %}
</div>
{% endblock %}

{% block content %}
<section id="taxes">
	<p class="data-contact">Ante cualquier consulta o sugerencia puede comunicarse via correo electronico a la dirección: <a href="mailto:buratovich@buratovich.com"><i class="fa fa-paper-plane" aria-hidden="true"></i> buratovich@buratovich.com</a></p>

	<article class="tax-data">
		<h2>INFORMACIÓN IMPOSITIVA</h2>
		<div>
			<div class="block">
				<h3 class="company-name">BURATOVICH HNOS SA C A F Y F</h3>
				<p class="adress"><span>Domicilio Fiscal:</span> Ruta 8 y Leandro N. Alem - Arrecifes (2740) - Buenos Aires</p>
			</div>
			<div class="block">
				<p class="cuit">CUIT 30-51170725-7</p>
				<p class="data-gral">Nro. Inscripción IIBB: 911-440143-8</p>
				<p class="data-gral">Actividad principal: VENTA AL POR MAYOR EN COMISIÓN O CONSIGNACIÓN DE CEREALES (INCLUYE ARROZ), OLEAGINOSAS Y FORRAJERAS EXCEPTO SEMILLAS (461011)</p>
				<p class="data-gral">Inscripta en el Registro Fiscal de Operadores de Granos.</p>
			</div>
			<div class="block">
				<h4 class="data-public-title">Consulta Pública de Información</h4>
				<ul class="data-public">
					<li>Está inscripto en IVA.</li>
					<li>Tiene presentadas su/s declaración/es jurada/s de IVA</li>
					<li>Está inscripto en el Impuesto a las Ganancias</li>
					<li>Tiene presentada/s su/s declaración/es jurada/s de Ganancias</li>
					<li>Tiene presentada/s su/s declaración/es jurada/s como empleador</li>
				</ul>
			</div>
		</div>
		<div class="data-public-qr">
			<a href="http://qr.afip.gob.ar/?qr=KwoqzGxyiHJVjifTaVrVHQ,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"></a>
		</div>
		<div class="data-download">
			<h4>Constancias y Documentación</h4>
			<ul>
				<li><a href=""><img src="{% static "img/pdf2.png" %}" alt=""> CM05</a></li>
				<li><a href=""><img src="{% static "img/pdf2.png" %}" alt=""> Acuse CM05</a></li>
				<li><a href=""><img src="{% static "img/pdf2.png" %}" alt=""> Constancia de Inscripción AFIP</a></li>
				<li><a href=""><img src="{% static "img/pdf2.png" %}" alt=""> Constancia de Inscripción IIBB</a></li>
				<li><a href=""><img src="{% static "img/pdf2.png" %}" alt=""> Certificado no Retención-Percepción IVA</a></li>
				<li><a href=""><img src="{% static "img/pdf2.png" %}" alt=""> Agentes Recaudación Provincia Buenos Aires</a></li>
				<li><a href=""><img src="{% static "img/pdf2.png" %}" alt=""> Agentes Provincia Chaco</a></li>
				<li><a href=""><img src="{% static "img/pdf2.png" %}" alt=""> Agente de Retención RG 18</a></li>
			</ul>
			<h5>Apertura de Cuenta</h5>
			<ul>
				<li><a href=""><img src="{% static "img/pdf2.png" %}" alt=""> Documentación a Presentar</a></li>
				<li><a href=""><img src="{% static "img/pdf2.png" %}" alt=""> Legajos de Transportistas</a></li>
			</ul>
		</div>
	</article>
</section>
{% endblock %}

{% block scriptjs %}

{% endblock %}