{% extends 'base.html' %}
{% load static %}

{% block title %}Buratovich Hnos. S.A. - Información Impositiva{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="route"><a href="/">Home</a> > <span class="current">Información Impositiva</span></div>
	{% if user.is_authenticated %}
		<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
	{% endif %}
</div>
{% endblock %}

{% block content %}
<section id="taxes">
	<p class="data-contact">Ante cualquier consulta o sugerencia puede comunicarse via correo electronico a la dirección: <a href="mailto:buratovich@buratovich.com"><i class="fa fa-paper-plane" aria-hidden="true"></i> buratovich@buratovich.com</a></p>

	<article class="offices">
		<h2>INFORMACIÓN IMPOSITIVA</h2>
		<div>
			<h3>Buratovich Hnos. S.A.C.A.F.I.T.</h3>
			<p>CUIT 30-51170725-7</p>
		</div>
	</article>
</section>
{% endblock %}

{% block scriptjs %}

{% endblock %}