{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Buratovich Hnos. - Unidades de Negocio{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="path-container">
		{% if user.is_authenticated %}
			<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
		{% endif %}
	</div>
	<div class="path-container">
		<div class="route"><a href="/">Home</a> <span class="chevron">></span> <span class="current">Unidades de Negocio</span></div>
	</div>
</div>
{% endblock %}

{% block content %}
<section id="bussines-units">
	<article class="units-description module maxwidth">
		<p>Creamos servicios de calidad que agregan valor a cada parte interviniente de la actividad agropecuaria.</p>
		<p>Contamos con una amplia experiencia en la comercialización de granos y oleaginosas que nos permite asesorar a nuestros clientes con las mejores alternativas de negocios y ofrecerle servicios de logística y acopio que garantizan el traslado, la calidad y conservación de su cereal.</p>
	</article>
	<article class="unit acopio module">
		<h2 class="unit-title">ACOPIO</h2>
		<div class="separator"></div>
		<p class="quote maxwidth">Acompañamos la gestión operativa de nuestros clientes desde su campo hasta nuestras plantas de acopio, brindando un eficiente servicio de logística y acarreo, y garantizando la calidad y conservación de su mercadería.</p>
		<!--<div class="main">
			<div class="content maxwidth">
				<div class="map-container col-2">
					<div class="line gp-line"></div>
					<div class="line ar-line"></div>
					<img class="marker gp" src="{% static "img/gp_marker.png" %}" alt="">
					<img class="marker ar" src="{% static "img/ar_marker.png" %}" alt="">
					<img class="map" src="{% static "img/units/acopio/map.png" %}" alt="">
				</div>
				<div class="location col-2">
					<div class="plant gp">
						<div class="detail">
							<img src="{% static "img/mini_chaco.jpg" %}" alt="">
							<div>
								<h3>Planta Gral. Pinedo</h3>
								<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta Prov. 94 Km 65</p>
								<p><i class="fa fa-globe" aria-hidden="true"></i> Gral. Pinedo, Chaco</p>
								<p><i class="fa fa-map-o" aria-hidden="true"></i> <a href="https://goo.gl/maps/T1Anp7VF4X72" target="_blank">Ver mapa</a></p>
							</div>
						</div>
					</div>
					<div class="plant ar">
						<div class="detail">
							<img src="{% static "img/mini_silos.jpg" %}" alt="">
							<div>
								<h3>Planta Ruta 8</h3>
								<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta 8 y L. N. Alem</p>
								<p><i class="fa fa-globe" aria-hidden="true"></i> Arrecifes, Bs. As.</p>
								<p><i class="fa fa-map-o" aria-hidden="true"></i> <a href="https://goo.gl/maps/qhGsaHRs35D2" target="_blank">Ver mapa</a></p>
							</div>
						</div>
						<div class="line-v"></div>
						<div class="detail">
							<img src="{% static "img/mini_ruta51.jpg" %}" alt="">
							<div>
								<h3>Planta Ruta 51</h3>
								<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta 51 Km 66</p>
								<p><i class="fa fa-globe" aria-hidden="true"></i> Arrecifes, Bs. As.</p>
								<p><i class="fa fa-map-o" aria-hidden="true"></i> <a href="https://goo.gl/maps/52qmKcfdyA72" target="_blank">Ver mapa</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
		<div class="main">
			<div class="content maxwidth">
				<div class="map-container col-2">
					<!--<img class="marker gp" src="{% static "img/gp_marker.png" %}" alt="">
					<img class="marker ar" src="{% static "img/ar_marker.png" %}" alt="">-->
					<img class="map" src="{% static "img/units/acopio/map_2.png" %}" alt="">
				</div>
				<div class="location">
					<div class="row">
						<!--<div class="col-2">&nbsp;</div>-->
						<div class="plants">
							<div class="plant gp">
								<div class="detail">
									<img src="{% static "img/mini_chaco.jpg" %}" alt="">
									<div>
										<h3>Planta Gral. Pinedo</h3>
										<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta Prov. 94 Km 65</p>
										<p><i class="fa fa-globe" aria-hidden="true"></i> Gral. Pinedo, Chaco</p>
										<p><i class="fa fa-map-o" aria-hidden="true"></i> <a href="https://goo.gl/maps/T1Anp7VF4X72" target="_blank">Ver mapa</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<!--<div class="col-2">&nbsp;</div>-->
						<div class="plants">
							<div class="plant ar">
								<div class="detail">
									<img src="{% static "img/mini_silos.jpg" %}" alt="">
									<div>
										<h3>Planta Ruta 8</h3>
										<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta 8 y L. N. Alem</p>
										<p><i class="fa fa-globe" aria-hidden="true"></i> Arrecifes, Bs. As.</p>
										<p><i class="fa fa-map-o" aria-hidden="true"></i> <a href="https://goo.gl/maps/qhGsaHRs35D2" target="_blank">Ver mapa</a></p>
									</div>
								</div>
								<div class="line-v"></div>
								<div class="detail">
									<img src="{% static "img/mini_ruta51.jpg" %}" alt="">
									<div>
										<h3>Planta Ruta 51</h3>
										<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta 51 Km 66</p>
										<p><i class="fa fa-globe" aria-hidden="true"></i> Arrecifes, Bs. As.</p>
										<p><i class="fa fa-map-o" aria-hidden="true"></i> <a href="https://goo.gl/maps/52qmKcfdyA72" target="_blank">Ver mapa</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="related maxwidth">
			<article class="col-2">
				<img src="{% static "img/units/acopio/logistic.jpg" %}" alt="">
				<div>
					<p>A través de una importante flota de camiones contratados brindamos servicio de logística a nuestros clientes a lo largo de todo el año.</p>
				</div>
			</article>
			<article class="col-2">
				<img src="{% static "img/units/acopio/plants.jpg" %}" alt="">
				<div>
					<p>La estratégica ubicación de nuestras plantas de acopio nos permite operar con los principales puertos del país.</p>
				</div>
			</article>
			<div style="clear:both;"></div>
		</div>
	</article>
	<article class="unit commer module">
		<h2 class="unit-title">COMERCIALIZACIÓN</h2>
		<div class="separator"></div>
		<p class="quote maxwidth">Mas de 100 años de experiencia en la comercialización de granos, oleaginosas y otros productos agropecuarios para ofrecerle diferentes alternativas de negocios: acopio, corretaje, asesoramiento, canjes, contratos forward y disponible.</p>
		<div class="main">
			<div class="content maxwidth">
				<div class="row">
					<p class="box col-3">+ ACOPIO</p>
					<p class="box col-3">+ CORRETAJE</p>
					<p class="box col-3">+ ASESORAMIENTO</p>
				</div>
				<div class="row">
					<p class="box col-3">+ CANJES</p>
					<p class="box col-3">+ CONTRATOS FORWARD</p>
					<p class="box col-3">+ DISPONIBLE</p>
				</div>
				<div class="row">
					<p class="box">+ FUTUROS Y OPCIONES</p>
				</div>
			</div>
		</div>
	</article>
	<article class="unit agro module">
		<h2 class="unit-title">AGRICULTURA Y GANADERÍA</h2>
		<div class="separator"></div>
		<p class="quote maxwidth">Realizamos una amplia explotación intensiva sembrando mayormente sobre campos del grupo. Nuestros principales cultivos son el maíz, girasol, trigo, cebada, arveja, lenteja, soja, sorgo y algodón. 
		Realizamos una agricultura sustentable y de presición que nos permite obtener una mayor protección sobre el suelo y el medio ambiente. Certificamos nuestros procesos productivos para poder desarrollar las buenas prácticas agrícolas y mecanismos que promuevan la responsabilidad compartida entre los distintos actores de la cadena de valor.</p>
		<div class="main">
			<div class="content maxwidth">
				<div class="boxes">
					<p class="box col-3">+<br>Nuestras actividades se desenvuelven en su mayoría en tierras propias, pero también trabajamos campos arrendados localizados <strong>estratégicamente</strong> y con suelos de <strong>alto valor</strong>.<br>Nos ubicamos en distintas regiones de las provincias de <strong>Buenos Aires y Chaco</strong>.</p>
					<p class="box col-3">+<br>Con foco en la <strong>producción sustentable</strong> utilizamos el sistema de <strong>siembra directa, cultivos de cobertura y alta rotación de los mismos</strong> para lograr una optima <strong>rentabilidad</strong> de las tierras.</p>
					<p class="box col-3">+<br>Contamos con un equipo de profesionales <strong>altamente capacitado</strong> que tiene como objetivo lograr la excelencia en la producción de nuestros cultivos, empleando el uso de las <strong>últimas tecnologías</strong> para tal fin.</p>
				</div>
			</div>
		</div>
		<div class="related maxwidth">
			<h3>Nuestros Principales Cultivos</h3>
			<div class="infography">
				<div class="row">
					<div>
						<span>Maíz</span>
					</div>
					<div class="divisor"></div>
				</div>
				<div class="row">
					<div>
						<span>Girasol</span>
					</div>
					<div class="divisor"></div>
				</div>
				<div class="row">
					<div>
						<span>Trigo</span>
					</div>
					<div class="divisor"></div>
				</div>
				<div class="row">
					<div>
						<span>Cebada</span>
					</div>
					<div class="divisor"></div>
				</div>
				<div class="row">
					<div>
						<span>Arveja</span>
					</div>
					<div class="divisor"></div>
				</div>
				<div class="row">
					<div>
						<span>Lenteja</span>
					</div>
					<div class="divisor"></div>
				</div>
				<div class="row">
					<div>
						<span>Soja</span>
					</div>
					<div class="divisor"></div>
				</div>
				<div class="row">
					<div>
						<span>Sorgo</span>
					</div>
					<div class="divisor"></div>
				</div>
				<div class="row">
					<div>
						<span>Algodón</span>
					</div>
				</div>
			</div>
		</div>
	</article>
	<article class="unit export module">
		<h2 class="unit-title">EXPORTACIÓN</h2>
		<div class="separator"></div>
		<p class="quote maxwidth">Disponemos de una red de compradores del exterior para realizar negocios FOB a casi todo el mundo. Contamos con puerto seco en nuestras plantas de silo que nos permite consolidar la carga de los distintos productos agropecuarios, a granel o en contenedores, en su lugar de origen.</p>
		<div class="main">
			<div class="content maxwidth">
				<div class="col-3">
					<div class="box">
						<h3>COMMODITIES</h3>
						<br>
						<p>En la búsqueda de expandir nuestro rango de acción y continuar creciendo como empresa, decidimos comenzar a gestionar nuestras propias <strong>operaciones de agro exportación</strong>, llegando así a ser activos protagonistas en cada una de las actividades intervinientes de la cadena agropecuaria al producir, acopiar, comercializar y exportar nuestros productos.</p>
					</div>
				</div>
				<div class="commodities col-23">
					<div class="col-3">
						<div class="product">
							<img src="{% static "img/units/expo/algodon.jpg" %}" alt="">
							<p>
								<span>Algodon</span>
							</p>
						</div>
						<div class="product">
							<img src="{% static "img/units/expo/arveja.jpg" %}" alt="">
							<p>
								<span>Arveja</span>
							</p>
						</div>
						<div class="product">
							<img src="{% static "img/units/expo/soja.jpg" %}" alt="">
							<p>
								<span>Soja</span>
							</p>
						</div>
					</div>
					<div class="col-3">
						<div class="product">
							<img src="{% static "img/units/expo/semilla_algodon.jpg" %}" alt="">
							<p>
								<span>Semilla de Algodon</span>
							</p>
						</div>
						<div class="product">
							<img src="{% static "img/units/expo/maiz.jpg" %}" alt="">
							<p>
								<span>Maiz</span>
							</p>
						</div>
						<div class="product">
							<img src="{% static "img/units/expo/baso.jpg" %}" alt="">
							<p>
								<span>Balanced Soybean Meal</span>
							</p>
						</div>
					</div>
					<div class="col-3">
						<div class="product">
							<img src="{% static "img/units/expo/cebada.jpg" %}" alt="">
							<p>
								<span>Cebada</span>
							</p>
						</div>
						<div class="product">
							<img src="{% static "img/units/expo/maiz_q.jpg" %}" alt="">
							<p>
								<span>Maiz Quebrado</span>
							</p>
						</div>
						<div class="product">
							<img src="{% static "img/units/expo/trigo.jpg" %}" alt="">
							<p>
								<span>Trigo</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="related maxwidth">
			<article class="col-3">
				<img src="{% static "img/units/expo/container.jpg" %}" alt="">
				<div>
					<p>Hemos creado vínculos comerciales con clientes de <strong>mas de 20 países</strong> alrededor de todo el mundo.</p>
				</div>
			</article>
			<article class="col-3">
				<img src="{% static "img/units/expo/container2.jpg" %}" alt="">
				<div>
					<p>Exportamos una variedad de commodities agrícolas como <strong>Arveja, Algodón, Semilla de Algodón, Maíz, Maíz Quebrado, Soja, Harina de Soja Balanceada, Trigo y Cebada</strong>.</p>
				</div>
			</article>
			<article class="col-3">
				<img src="{% static "img/units/expo/container3.jpg" %}" alt="">
				<div>
					<p>Estamos presentes en cada eslabón de la actividad agropecuaria, para controlar y asegurar la calidad de los productos que exportamos.</p>
				</div>
			</article>
			<div style="clear:both;"></div>
		</div>
	</article>
</section>
{% endblock %}