{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Buratovich Hnos. S.A. - Unidades de Negocio{% endblock %}

{% block head %}
<!--<link rel="stylesheet" href="{% static "js/flickity/flickity.min.css" %}">-->
{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="route"><a href="/">Home</a> > <span class="current">Unidades de Negocio</span></div>
	{% if user.is_authenticated %}
		<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
	{% endif %}
</div>
{% endblock %}

{% block content %}
<section id="bussines-units">
	<article class="units-description">
		<p>Creamos servicios de calidad que agregan valor a cada parte interviniente de la actividad agropecuaria.</p>
		<p>Contamos con una amplia experiencia en la comercializacion de granos y oleaginosas que nos permite asesorar a nuestros clientes con las mejores alternativas de negocios y ofrecerle servicios de logistica y acopio que garantizan el traslado, la calidad y conservación de su cereal.</p>
	</article>
	<article class="unit acopio">
		<h2 class="unit-title">ACOPIO</h2>
		<div class="separator"></div>
		<p class="quote maxwidth">Acompañamos la gestión operativa de nuestros clientes desde su campo hasta nuestras plantas de acopio, brindando un eficiente servicio de logística y acarreo, y garantizando la calidad y conservación de su mercadería.</p>
		<div class="main">
			<div class="content">
				<div class="map-container col-2">
					<div class="line gp-line"></div>
					<div class="line ar-line"></div>
					<img class="marker gp" src="{% static "img/gp_marker.png" %}" alt="">
					<img class="marker ar" src="{% static "img/ar_marker.png" %}" alt="">
					<img class="map" src="{% static "img/units/map.png" %}" alt="">
				</div>
				<div class="location col-2">
					<div class="plant gp">
						<div class="detail">
							<img src="{% static "img/mini_chaco.jpg" %}" alt="">
							<div>
								<h3>Planta Gral. Pinedo</h3>
								<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta Prov. 94 Km 65</p>
								<p><i class="fa fa-globe" aria-hidden="true"></i> Gral. Pinedo, Chaco</p>
								<p><i class="fa fa-map-o" aria-hidden="true"></i> <a href="https://goo.gl/maps/T1Anp7VF4X72">Ver mapa</a></p>
							</div>
						</div>
					</div>
					<div class="plant ar">
						<div class="detail">
							<img src="{% static "img/mini_silos.jpg" %}" alt="">
							<div>
								<h3>Planta Ruta 8</h3>
								<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta 8 y L. N. Alem</p>
								<p><i class="fa fa-globe" aria-hidden="true"></i> Arrecifes, Bs. As.</p>
								<p><i class="fa fa-map-o" aria-hidden="true"></i> <a href="https://goo.gl/maps/qhGsaHRs35D2">Ver mapa</a></p>
							</div>
						</div>
						<div class="line-v"></div>
						<div class="detail">
							<img src="{% static "img/mini_ruta51.jpg" %}" alt="">
							<div>
								<h3>Planta Ruta 51</h3>
								<p><i class="fa fa-map-marker" aria-hidden="true"></i> Ruta 51 Km XXXX</p>
								<p><i class="fa fa-globe" aria-hidden="true"></i> Arrecifes, Bs. As.</p>
								<p><i class="fa fa-map-o" aria-hidden="true"></i> <a href="https://goo.gl/maps/52qmKcfdyA72">Ver mapa</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="related">
			<article>
				<img src="{% static "img/units/logistic.jpg" %}" alt="">
				<div>
					<p>A traves de una importante flota de camiones contratados brindamos servicio de logistica a nuestros clientes a lo largo de todo el año.</p>
				</div>
			</article>
			<article>
				<img src="{% static "img/units/plants.jpg" %}" alt="">
				<div>
					<p>La estrategica ubicacion de nuestras plantas de acopio nos permite operar con los prinpales puertos del pais.</p>
				</div>
			</article>
			<div style="clear:both;"></div>
		</div>
	</article>
	<article class="unit commer">
		<h2 class="unit-title">COMERCIALIZACIÓN</h2>
		<div class="separator"></div>
		<p class="quote maxwidth">Mas de 100 años de experiencia en la comercializacion de granos y oleaginosas para ofrecerle diferentes alternativas de negocios: acopio, corretaje, asesoramiento, canjes, contratos forward y disponible.</p>
		<div class="main">
			<div class="content">
				<div>
					<p class="col-3">Acopio</p>
					<p class="col-3">Corretaje</p>
					<p class="col-3">Asesoramiento</p>
				</div>
				<div>
					<p class="col-3">Canjes</p>
					<p class="col-3">Contratos Forward</p>
					<p class="col-3">Disponible</p>
				</div>
				<div>
					<p>Futuros y Opciones</p>
				</div>
			</div>
		</div>
		<div class="related">
			
		</div>
	</article>
	<article class="unit agro">
		<h2 class="unit-title">AGRICULTURA</h2>
		<div class="separator"></div>
		<p class="quote maxwidth">Desarrollamos la produccion agricola en distintas regiones de las provincias de Buenos Aires y Chaco. Nuestros principales cultivos son la Arveja, Trigo, Maiz, Soja, Sorgo, Girasol y Algodón.</p>
	</article>
	<article class="unit breeding">
		<h2 class="unit-title">GANADERIA</h2>
		<div class="separator"></div>
		<p class="quote maxwidth">Desde hace años practicamos la actividad ganadera en la localidad de Pila, en el centro este de la provincia de Buenos Aires.</p>
	</article>
	<article class="unit export">
		<h2 class="unit-title">EXPORTACIÓN</h2>
		<div class="separator"></div>
		<p class="quote maxwidth">Una actividad en constante crecimiento que nos ha permitido conformar una fuerte red de contactos internacionales a traves de la exportacion de cereales, oleaginosas y productos derivados.</p>
	</article>
</section>
{% endblock %}